<h1>{{ 'label.providers_definition' | translate }}</h1>

<columns>
	<column class="half">
		<h2>{{ 'label.connectors_settings' | translate }}</h2>

		<label>{{ 'label.connectors_instance_url' | translate }}</label>
		<input type="text" ng-model="item.settings.url">

		<label>{{ 'label.connectors_timeout' | translate }}</label>
		<input class="small" id="timeout" type="number" placeholder="10" ng-model="item.settings.timeout">

		<label>{{ 'label.connectors_tls' | translate }}</label>
		<input id="allow-insecure" type="checkbox" tabindex="0" ng-model="item.settings.allow_insecure_tls">
		<label for="allow-insecure">{{ 'label.connectors_allow_insecure' | translate }}</label>

		<label>{{ 'label.connectors_kairosdb_aggregators' | translate }}</label>
		<select multiple="multiple" size="7" ng-model="item.settings.aggregators">
			<option>avg</option>
			<option>count</option>
			<option>dev</option>
			<option>first</option>
			<option>last</option>
			<option>max</option>
			<option>min</option>
		</select>
	</column>
</columns>
