<tabset>
	<tab active="groupEdit" label="{{ 'label.group' | translate }}" ng-click="switchEdit(true, null)"></tab>
	<tab active="!groupEdit" label="{{ 'label.series_paging' | translate:{current: seriesCurrent + 1, total: seriesTotal} }}" ng-click="switchEdit(false, null)"></tab>
</tabset>

<form>
	<div class="formblock" ng-if="groupEdit">
		<columns>
			<column class="main">
				<label>{{ 'label.name' | translate }}</label>
				<input type="text" ng-model="groupItem.name">
			</column>

			<column>
				<label>{{ 'label.color' | translate }}</label>
				<colorpicker position="left" value="groupItem.options.color"></colorpicker>
			</column>
		</columns>

		<label>{{ 'label.scale' | translate }}</label>
		<input type="number" step="any" ng-model="groupItem.options.scale">

		<label>{{ 'label.series_operator' | translate }}</label>
		<ui-select theme="selectize" ng-model="selectedOptions.group.operator">
			<ui-select-match placeholder="{{ 'label.series_operator_select' | translate }}">
				<span ng-bind="$select.selected.name"></span>
			</ui-select-match>
			<ui-select-choices repeat="o in (groupOperators | filter: $select.search)">
				<span ng-bind="o.name"></span>
			</ui-select-choices>
		</ui-select>

		<label>{{ 'label.series_consolidate' | translate }}</label>
		<ui-select theme="selectize" ng-model="selectedOptions.group.consolidate">
			<ui-select-match placeholder="{{ 'label.series_consolidate_select' | translate }}">
				<span ng-bind="$select.selected.name"></span>
			</ui-select-match>
			<ui-select-choices repeat="c in (groupConsolidations | filter: $select.search)">
				<span ng-bind="c.name"></span>
			</ui-select-choices>
		</ui-select>

		<input id="interpolate" type="checkbox" tabindex="0" ng-model="groupItem.options.interpolate">
		<label for="interpolate">{{ 'label.series_consolidate_interpolate' | translate }}</label>
	</div>

	<div class="formblock" ng-if="!groupEdit">
		<columns>
			<column class="main">
				<label>{{ 'label.name' | translate }}</label>
				<input type="text" ng-model="groupItem.series[seriesCurrent].name">
			</column>

			<column>
				<label>{{ 'label.color' | translate }}</label>
				<colorpicker position="left" value="groupItem.series[seriesCurrent].options.color"></colorpicker>
			</column>
		</columns>

		<label>{{ 'label.scale' | translate }}</label>
		<input type="number" step="any" ng-model="groupItem.series[seriesCurrent].options.scale">
	</div>

	<div class="formblock actions">
		<div class="switch" ng-if="!groupEdit">
			<button type="button" ng-click="switchEdit(false, -1)" ng-disabled="seriesCurrent === 0"><span class="fa fa-chevron-left"></span></button>
			<button type="button" ng-click="switchEdit(false, 1)" ng-disabled="seriesCurrent === (seriesTotal - 1)"><span class="fa fa-chevron-right"></span></button>
		</div>

		<button class="cancel danger" type="button" ng-click="closeThisDialog()">{{ 'label.cancel' | translate }}</button>
		<button class="validate" type="submit" ng-click="closeThisDialog(groupItem)">{{ 'label.validate' | translate }}</button>
	</div>
</form>
