<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article ng-class="{hastab: id != 'add' && item.template}" ng-pane="" ng-show="state == stateOK" ng-if="!linked">
	<header>
		<h1 class="expand">{{ 'label.admin_panel' | translate }} – {{ (id == 'add' ? 'label.collections_new' : 'label.collections_edit') | translate }}</h1>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<tabset ng-if="id != 'add' && item.template">
		<tab active="tab === 0" label="{{ 'label.items_properties' | translate }}" ng-click="switchTab(0)"></tab>
		<tab active="tab == 1" label="{{ 'label.templates_instances' | translate }}" ng-click="switchTab(1)"></tab>
	</tabset>

	<div ng-show="tab === 0">
		<section ng-pane-step="1">
			<h1>{{ 'label.collections_definition' | translate }}</h1>

			<columns ng-class="{split: graphEntryEdit}">
				<column class="main">
					<h2>{{ 'label.graphs_list' | translate }}</h2>

					<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
					<message icon="info-circle" type="info" ng-show="state == stateOK && (!item.entries || item.entries.length === 0)">{{ 'mesg.graphs_empty' | translate }}</message>

					<list ng-show="state == stateOK && item.entries && item.entries.length > 0">
						<div as-sortable="listSortControl" ng-model="item.entries">
							<listrow as-sortable-item="" ng-class="{active: graph.index === $index || graphEntryEdit === e, disabled: e.options && e.options.enabled === false, locked: graph.index !== undefined && graph.index !== $index || graphEntryEdit && graphEntryEdit !== e}" ng-click="editGraph(e)" ng-repeat="e in item.entries">
								<listcolumn class="handle">
									<span as-sortable-item-handle="" class="fa fa-ellipsis-v"></span>
								</listcolumn>
								<listcolumn class="toggle">
									<span class="toggle fa" ng-class="{'fa-toggle-on': !e.options || e.options.enabled === true || e.options.enabled === undefined, 'fa-toggle-off': e.options && e.options.enabled === false}" ng-click="$event.stopPropagation(); toggleGraph(e)"></span>
								</listcolumn>
								<listcolumn class="main expand">
									<div class="row">
										<div class="name">{{ graphData[e.graph].name || e.graph }}</div>
										<div class="note error" ng-if="graphFetched && !graphData[e.graph]"><span class="fa fa-warning"></span> {{ 'mesg.items_not_found' | translate }}</div>
										<div class="actions">
											<menu>
												<menuitem href="" icon="cog" info="{{ 'label.graphs_manage' | translate }}" type="button" ng-click="$event.stopPropagation(); editGraphEntry(e)"></menuitem>
												<menuitem href="{{ ::baseURL }}admin/graphs/{{ e.graph }}" icon="arrow-circle-right" info="{{ 'label.graphs_goto' | translate }}" type="button"></menuitem>
											</menu>
										</div>
									</div>
									<div class="description">
										<div class="info" ng-if="graphData[e.graph] && graphData[e.graph].template && e.attributes">
											<span class="attrinfo" ng-repeat="k in graphData[e.graph].templateKeys" ng-if="e.attributes[k]">{{ k }}: <strong>{{ e.attributes[k] }}</strong></span>
										</div>
									</div>
								</listcolumn>
								<listcolumn class="actions">
									<menu>
										<menuitem href="" icon="times-circle" info="{{ 'label.graphs_remove' | translate }}" type="button" ng-click="$event.stopPropagation(); remove(item.entries, e)"></menuitem>
									</menu>
								</listcolumn>
							</listrow>
						</div>
					</list>
				</column>

				<column class="side" ng-if="!graphEntryEdit">
					<h2>{{ 'label.graphs_define' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.graph' | translate }}</label>
						<angucomplete-alt id="graph" pause="250" selected-object="selectGraph" remote-api-handler="graphsList" title-field="name" minlength="1" focus-first="true" match-class="highlight" text-no-results="{{ 'mesg.complete_no_match' | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>
					</div>

					<div class="formblock">
						<button ng-click="setGraph()" ng-disabled="!graph.id">{{ (graph.index === undefined ? 'label.graphs_add' : 'label.graphs_update') | translate }}</button>
						<button ng-click="resetGraph()" ng-show="graph.index !== undefined">{{ 'label.cancel' | translate }}</button>
					</div>
				</column>

				<column class="side" ng-if="graphEntryEdit">
					<h2 ng-if="graphData[graphEntryEdit.graph].template">{{ 'label.templates_attrs' | translate }}</h2>

					<div class="formblock" ng-if="graphData[graphEntryEdit.graph].template">
						<table class="keylist">
							<tbody>
								<tr ng-repeat="(key, _) in entryAttrs">
									<td class="key"><input type="text" disabled="disabled" ng-model="key"></td>
									<td class="value"><input type="text" ng-model="entryAttrs[key]"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<h2>{{ 'label.graphs_options' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.range' | translate }}</label>
						<input class="small" type="text" placeholder="{{ graphData[graphEntryEdit.graph].options.range }}" ng-model="entryOptions.range">

						<label>{{ 'label.graphs_sample' | translate }}</label>
						<input class="small" type="number" placeholder="{{ graphData[graphEntryEdit.graph].options.sample }}" ng-model="entryOptions.sample">

						<label>{{ 'label.graphs_constants' | translate }} <span class="note">{{ 'label.separator_comma' | translate }}</span></label>
						<input class="small" type="text" placeholder="{{ graphData[graphEntryEdit.graph].options.constants.join(',') }}" ng-list=", " ng-model="entryOptions.constants">

						<label>{{ 'label.graphs_percentiles' | translate }} <span class="note">{{ 'label.separator_comma' | translate }}</span></label>
						<input class="small" type="text" placeholder="{{ graphData[graphEntryEdit.graph].options.percentiles.join(',') }}" ng-list=", " ng-model="entryOptions.percentiles">

						<label>{{ 'label.refresh_interval' | translate }} <span class="note">{{ 'label.refresh_interval_unit' | translate }}</span></label>
						<input class="small" type="number" placeholder="{{ graphData[graphEntryEdit.graph].options.refresh_interval }}" ng-model="entryOptions.refresh_interval">

						<label>{{ 'label.graphs_misc' | translate }}</label>
						<input id="fold" type="checkbox" tabindex="0" ng-model="entryOptions.folded">
						<label for="fold">{{ 'label.graphs_fold_default' | translate }}</label>
					</div>
				</column>
			</columns>
		</section>

		<section ng-pane-step="2">
			<h1>{{ 'label.collections_definition' | translate }}</h1>

			<columns class="split">
				<column class="main" ng-if="!attrsEdit">
					<h2>{{ 'label.general_info' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.name' | translate }}
							<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
							<span class="warn" ng-show="conflict.name"><span class="fa fa-warning"></span> {{ 'mesg.name_unique' | translate }}</span>
							<span class="warn" ng-show="validated && !item.name"><span class="fa fa-warning"></span> {{ 'mesg.name_invalid' | translate }}</span>
						</label>
						<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.name || validated && !item.name}" ng-model="item.name">

						<label>{{ 'label.desc' | translate }}</label>
						<textarea type="text" ng-model="item.description"></textarea>
					</div>

					<h2>{{ 'label.collections_params' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.title' | translate }}</label>
						<input type="text" ng-model="item.options.title">

						<label>{{ 'label.alias' | translate }}
							<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
							<span class="warn" ng-show="conflict.alias"><span class="fa fa-warning"></span> {{ 'mesg.alias_unique' | translate }}</span>
						</label>
						<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.alias}" ng-model="item.alias" ng-disabled="item.template">

						<columns>
							<column>
								<label>{{ 'label.refresh_interval' | translate }}</label>
								<input type="number" ng-model="item.options.refresh_interval">
							</column>

							<column>
								<label>{{ 'label.collections_grid_size' | translate }}</label>
								<ui-select theme="selectize" ng-model="selectedOptions.grid_size">
									<ui-select-match placeholder="{{ 'label.collections_grid_size_select' | translate }}">
										<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="s in (collectionsGridSizes | filter: $select.search)">
										<span ng-bind="s.name"></span>
									</ui-select-choices>
								</ui-select>
							</column>
						</columns>

						<label>{{ 'label.collections_parent' | translate }}</label>
						<angucomplete-alt class="small" id="parent" pause="250" selected-object="selectParent" remote-api-handler="collectionsList" title-field="name" minlength="1" focus-first="true" match-class="highlight" text-no-results="{{ 'mesg.complete_no_match' | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>
						<button ng-click="removeParent()" ng-disabled="!item.parent">{{ 'label.remove' | translate }}</button>
					</div>

					<div class="formblock" ng-if="hasTemplate">
						<button ng-click="editAttrs(item, true)"><span class="fa fa-file-code-o"></span> {{ 'label.templates_attrs_manage' | translate }}</button>
					</div>
				</column>

				<column class="main" ng-if="attrsEdit">
					<h2>{{ 'label.templates_attrs' | translate }}</h2>

					<div class="formblock">
						<table class="keylist">
							<tbody>
								<tr ng-repeat="(key, _) in entryAttrs">
									<td class="key"><input type="text" disabled="disabled" ng-model="key"></td>
									<td class="value"><input type="text" ng-model="entryAttrs[key]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</column>
			</columns>
		</section>

		<footer>
			<div ng-show="graphEntryEdit">
				<button class="danger" ng-click="editGraphEntry(null)">{{ 'label.cancel' | translate }}</button>
				<button ng-click="setGraphEntry()">{{ 'label.ok' | translate }}</button>
			</div>

			<div ng-show="attrsEdit">
				<button class="danger" ng-click="editAttrs(null)">{{ 'label.cancel' | translate }}</button>
				<button ng-click="setAttrs()">{{ 'label.ok' | translate }}</button>
			</div>

			<div ng-show="!graphEntryEdit && !attrsEdit">
				<button class="extra" ng-click="reset()" ng-disabled="!modified" ng-if="id != 'add'"><span class="fa fa-undo"></span> {{ 'label.collections_reset' | translate }}</button>
				<button class="danger" ng-click="cancel()" ng-show="id == 'add' || !altMode">{{ 'label.cancel' | translate }}</button>
				<button class="danger" ng-click="delete()" ng-show="id != 'add' && altMode"><span class="fa fa-trash-o"></span> {{ 'label.collections_delete' | translate }}</button>
				<button ng-click="switch(step - 1)" ng-disabled="step == 1"><span class="fa fa-chevron-circle-left"></span> {{ 'label.prev' | translate }}</button>
				<button ng-click="switch(step + 1)" ng-disabled="step == 2 || graph.index || graphEntryEdit">{{ 'label.next' | translate }} <span class="fa fa-chevron-circle-right"></span></button>
				<button ng-click="save()" ng-disabled="step != 2" ng-show="!item.template && !altMode">{{ 'label.collections_save' | translate }}</button>
				<button ng-click="save(true)" ng-disabled="step != 2" ng-show="!item.template && altMode">{{ 'label.save_go' | translate }}</button>
				<button ng-click="save()" ng-disabled="step != 2" ng-show="item.template">{{ 'label.templates_save' | translate }}</button>
			</div>
		</footer>
	</div>

	<div ng-show="tab == 1">
		<section>
			<h1>{{ 'label.templates_instances' | translate }}</h1>

			<message icon="clock-o" type="placeholder" ng-show="!instances">{{ 'mesg.wait' | translate }}</message>
			<message icon="info-circle" type="info" ng-show="instances.length === 0">{{ 'mesg.templates_no_instance' | translate }}</message>

			<list ng-if="instances.length > 0">
				<listrow ng-repeat="i in instances">
					<listcolumn class="main">
						<div class="row">
							<div class="name">{{ i.name }}</div>
							<div class="actions">
								<menu>
									<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ i.id }}" icon="arrow-circle-right" info="{{ 'label.' + section + '_goto' | translate }}" type="button"></menuitem>
								</menu>
							</div>
						</div>
					</listcolumn>
				</listrow>
			</list>
		</section>

		<footer>
			<button ng-click="switchTab(0)">{{ 'label.go_back' | translate }}</button>
		</footer>
</article>

<article ng-pane="" ng-show="state == stateOK" ng-if="linked">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ (id == 'link' ? 'label.collections_new' : 'label.collections_edit') | translate }}</h1>

		<menu ng-if="id != 'add' && item.link">
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ item.link }}" icon="pencil" info="{{ 'label.' + section + '_edit_template' | translate }}" type="button"></menuitem>
		</menu>
	</header>

	<section ng-pane-step="1">
		<h1>{{ 'label.collections_definition' | translate }}</h1>

		<columns>
			<column class="main">
				<h2>{{ 'label.general_info' | translate }}</h2>

				<label>{{ 'label.name' | translate }}
					<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
					<span class="warn" ng-show="conflict.name"><span class="fa fa-warning"></span> {{ 'mesg.name_unique' | translate }}</span>
					<span class="warn" ng-show="validated && !item.name"><span class="fa fa-warning"></span> {{ 'mesg.name_invalid' | translate }}</span>
				</label>
				<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.name || validated && !item.name}" ng-model="item.name">

				<label>{{ 'label.alias' | translate }}
					<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
					<span class="warn" ng-show="conflict.alias"><span class="fa fa-warning"></span> {{ 'mesg.alias_unique' | translate }}</span>
				</label>
				<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.alias}" ng-model="item.alias">

				<label>{{ 'label.templates_source' | translate }}</label>
				<angucomplete-alt class="small" id="template" pause="250" selected-object="selectTemplate" remote-api-handler="templateSources" title-field="name" minlength="1" focus-first="true" match-class="highlight" text-no-results="{{ 'mesg.complete_no_match' | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}" ng-class="{danger: validated && !item.link}"></angucomplete-alt>

				<label>{{ 'label.collections_parent' | translate }}</label>
				<angucomplete-alt class="small" id="parent" pause="250" selected-object="selectParent" remote-api-handler="collectionsList" title-field="name" minlength="1" focus-first="true" match-class="highlight" text-no-results="{{ 'mesg.complete_no_match' | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>
				<button ng-click="removeParent()" ng-disabled="!item.parent">{{ 'label.remove' | translate }}</button>

				<h2>{{ 'label.templates_attrs' | translate }}</h2>

				<message icon="info-circle" type="info" ng-show="!item.link">{{ 'mesg.templates_empty' | translate }}</message>
				<message icon="clock-o" type="placeholder" ng-show="item.link && templateKeys === undefined">{{ 'mesg.wait' | translate }}</message>
				<message icon="exclamation-circle" type="warning" ng-show="item.link && templateKeys && templateKeys.length === 0">{{ 'mesg.templates_no_key' | translate }}</message>

				<table class="keylist" ng-show="templateKeys">
					<tbody>
						<tr ng-repeat="key in templateKeys">
							<td class="key"><input type="text" disabled="disabled" ng-model="key"></td>
							<td class="value"><input type="text" ng-model="item.attributes[key]"></td>
						</tr>
					</tbody>
				</table>
			</column>
		</columns>
	</section>

	<footer>
		<button class="extra" ng-click="reset()" ng-disabled="!modified" ng-if="id != 'link'"><span class="fa fa-undo"></span> {{ 'label.collections_reset' | translate }}</button>
		<button class="danger" ng-click="cancel()" ng-show="id == 'link' || !altMode">{{ 'label.cancel' | translate }}</button>
		<button class="danger" ng-click="delete()" ng-show="id != 'link' && altMode"><span class="fa fa-trash-o"></span> {{ 'label.collections_delete' | translate }}</button>
		<button ng-click="save()" ng-disabled="!item.name || !item.link" ng-show="!altMode">{{ 'label.collections_save' | translate }}</button>
		<button ng-click="save(true)" ng-disabled="!item.name || !item.link" ng-show="altMode">{{ 'label.save_go' | translate }}</button>
	</footer>
</article>

<article ng-show="state == stateError">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.collections_edit' | translate }}</h1>
	</header>

	<section>
		<message icon="times-circle" type="error" ng-if="!notFound">{{ 'mesg.fetch_error' | translate }}</message>
		<message icon="times-circle" type="error" ng-if="notFound">{{ 'mesg.items_not_found' | translate }}</message>
	</section>

	<footer>
		<button ng-click="cancel(true)"><span class="fa fa-arrow-left"></span> {{ 'label.collections_back' | translate }}</button>
	</footer>
</article>
