<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article ng-class="{hastab: id != 'add' && item.template}" ng-pane="" ng-show="state == stateOK" ng-if="!linked">
	<header>
		<h1 class="expand">{{ 'label.admin_panel' | translate }} – {{ (id == 'add' ? 'label.graphs_new' : 'label.graphs_edit') | translate }}</h1>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<tabset ng-if="id != 'add' && item.template">
		<tab active="tab === 0" label="{{ 'label.items_properties' | translate }}" ng-click="switchTab(0)"></tab>
		<tab active="tab == 1" label="{{ 'label.templates_instances' | translate }}" ng-click="switchTab(1)"></tab>
	</tabset>

	<div ng-show="tab === 0">
		<section ng-pane-step="1">
			<h1>{{ 'label.graphs_definition' | translate }}</h1>

			<columns>
				<column class="main">
					<div class="titlerow">
						<h2>{{ 'label.series_list' | translate }}</h2>

						<div class="formblock">
							<button ng-click="mergeGroup(true)" ng-disabled="selected.length <= 1" ng-show="selectedGroup.length === 0 || selectedGroup.length != selected.length"><span class="fa fa-object-group"></span> {{ 'label.series_group' | translate }}</button>
							<button ng-click="mergeGroup(false)" ng-show="selectedGroup.length > 0 && selectedGroup.length === selected.length"><span class="fa fa-object-ungroup"></span> {{ 'label.series_ungroup' | translate }}</button>
						</div>
					</div>

					<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
					<message icon="info-circle" type="info" ng-show="state == stateOK && (!item.groups || item.groups.length === 0)">{{ 'mesg.series_empty' | translate }}</message>

					<list ng-show="state == stateOK && item.groups && item.groups.length > 0">
						<div as-sortable="listSortControl" ng-model="item.groups">
							<listrow as-sortable-item="" ng-class="{active: series.index === $index, locked: series.index !== undefined && series.index !== $index, selected: g.selected}" ng-click="editSeries(g)" ng-repeat="g in item.groups">
								<listcolumn class="handle">
									<span as-sortable-item-handle="" class="fa fa-ellipsis-v"></span>
								</listcolumn>
								<listcolumn class="checkbox" ng-click="$event.stopPropagation()">
									<input id="item{{ $index }}" type="checkbox" ng-model="g.selected">
									<label class="empty" for="item{{ $index }}" tabindex="0"></label>
								</listcolumn>
								<listcolumn class="main expand">
									<div class="row">
										<div class="color"><span class="fa fa-circle" ng-style="{color: getSeriesColor($index)}"></span></div>
										<div class="name">{{ g.name || (g.series.length == 1 ? g.series[0].name : '&nbsp;') }}</div>
										<div class="actions">
											<menu>
												<menuitem href="" icon="cog" info="{{ 'label.series_group_edit' | translate }}" type="button" ng-click="$event.stopPropagation(); editGroup(g)"></menuitem>
											</menu>
										</div>
									</div>
									<div class="row description bullet" ng-repeat="s in g.series track by $index">
										<div class="info">
											{{ 'label.name_alt' | translate }} <strong>{{ s.name }}</strong>,
											{{ 'label.metric_alt' | translate }} <strong>{{ s.origin }}/{{ resolveGroup(s.source) }}/{{ resolveGroup(s.metric) }}</strong>
										</div>
										<div>
											<span class="count" ng-show="s.expansion !== undefined">{{ expandData[s.expansion].length }}</span>
										</div>
										<div class="actions">
											<menu>
												<menuitem href="" icon="times" info="{{ 'label.series_remove' | translate }}" type="button" ng-click="$event.stopPropagation(); remove(g.series, s)"></menuitem>
											</menu>
										</div>
									</div>
								</listcolumn>
								<listcolumn class="actions">
									<menu>
										<menuitem href="" icon="caret-square-o-down" info="{{ 'label.groups_expand' | translate }}" type="button" ng-click="$event.stopPropagation(); expandGroup(g, true)" ng-show="g.series.length == 1 && g.series[0].expansion !== undefined"></menuitem>
										<menuitem href="" icon="caret-square-o-up" info="{{ 'label.groups_collapse' | translate }}" type="button" ng-click="$event.stopPropagation(); expandGroup(g, false)" ng-show="g.series.length == 1 && g.series[0].expanded !== undefined"></menuitem>
										<menuitem href="" icon="times-circle" info="{{ 'label.groups_remove' | translate }}" type="button" ng-click="$event.stopPropagation(); remove(item.groups, g)"></menuitem>
									</menu>
								</listcolumn>
							</listrow>
						</div>
					</list>
				</column>

				<column class="side">
					<h2>{{ 'label.series_define' | translate }} <span ng-show="series.index !== undefined && seriesTotal > 1">– {{ 'label.series_paging' | translate:{current: seriesCurrent + 1, total: seriesTotal} }}</span></h2>

					<div class="formblock">
						<label>{{ 'label.origin' | translate }}</label>
						<angucomplete-alt id="origin" pause="250" input-changed="changedSeries" selected-object="selectSeries" remote-api-handler="seriesOrigins" title-field="name" minlength="1" focus-first="true" match-class="highlight" override-suggestions="true" text-no-results="{{ (seriesTemplate.origin ? 'mesg.complete_found_template' : 'mesg.complete_no_match') | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>

						<label>{{ 'label.source' | translate }}</label>
						<angucomplete-alt id="source" pause="250" input-changed="changedSeries" selected-object="selectSeries" remote-api-handler="seriesSources" title-field="name" minlength="1" focus-first="true" match-class="highlight" override-suggestions="true" text-no-results="{{ (seriesTemplate.source ? 'mesg.complete_found_template' : 'mesg.complete_no_match') | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>

						<label>{{ 'label.metric' | translate }}</label>
						<angucomplete-alt id="metric" pause="250" input-changed="changedSeries" selected-object="selectSeries" remote-api-handler="seriesMetrics" title-field="name" minlength="1" focus-first="true" match-class="highlight" override-suggestions="true" text-no-results="{{ (seriesTemplate.metric ? 'mesg.complete_found_template' : 'mesg.complete_no_match') | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}"></angucomplete-alt>
					</div>

					<div class="formblock" ng-class="{actions: series.index !== undefined && seriesTotal > 1}">
						<button ng-click="setSeries()" ng-disabled="!series.valid">{{ (series.index === undefined ? 'label.series_add' : 'label.series_update') | translate }}</button>
						<button class="danger" ng-click="resetSeries(false, true)" ng-show="series.index !== undefined">{{ 'label.cancel' | translate }}</button>

						<div class="switch" ng-show="series.index !== undefined && seriesTotal > 1">
							<button type="button" ng-click="switchSeries(-1)" ng-disabled="seriesCurrent === 0"><span class="fa fa-chevron-left"></span></button>
							<button type="button" ng-click="switchSeries(1)" ng-disabled="seriesCurrent === (seriesTotal - 1)"><span class="fa fa-chevron-right"></span></button>
						</div>
					</div>
				</column>
			</columns>
		</section>

		<section ng-pane-step="2">
			<h1>{{ 'label.graphs_definition' | translate }}</h1>

			<columns class="split">
				<column class="main" ng-if="!optionsEdit">
					<h2>{{ 'label.general_info' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.name' | translate }}
							<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
							<span class="warn" ng-show="conflict.name"><span class="fa fa-warning"></span> {{ 'mesg.name_unique' | translate }}</span>
							<span class="warn" ng-show="validated && !item.name"><span class="fa fa-warning"></span> {{ 'mesg.name_invalid' | translate }}</span>
						</label>
						<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.name || validated && !item.name}" ng-model="item.name">

						<label>{{ 'label.desc' | translate }}</label>
						<textarea type="text" ng-model="item.description"></textarea>
					</div>

					<h2>{{ 'label.graphs_params' | translate }}</h2>

					<div class="formblock">
						<label>{{ 'label.title' | translate }}</label>
						<input type="text" ng-model="item.options.title">

						<label>{{ 'label.alias' | translate }}
							<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
							<span class="warn" ng-show="conflict.alias"><span class="fa fa-warning"></span> {{ 'mesg.alias_unique' | translate }}</span>
						</label>
						<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.alias}" ng-model="item.alias" ng-disabled="item.template">

						<columns>
							<column>
								<label>{{ 'label.graphs_type' | translate }}</label>
								<ui-select theme="selectize" ng-model="selectedOptions.main.type">
									<ui-select-match placeholder="{{ 'label.graphs_type_select' | translate }}">
										<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="t in (graphTypes | filter: $select.search)">
										<span ng-bind="t.name"></span>
									</ui-select-choices>
								</ui-select>
							</column>

							<column>
								<label>{{ 'label.graphs_stack_mode' | translate }}</label>
								<ui-select theme="selectize" ng-model="selectedOptions.main.stack_mode">
									<ui-select-match placeholder="{{ 'label.graphs_stack_mode_select' | translate }}">
										<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="t in (graphStackModes | filter: $select.search)">
										<span ng-bind="t.name"></span>
									</ui-select-choices>
								</ui-select>
							</column>
						</columns>

						<columns>
							<column>
								<label>{{ 'label.graphs_yaxis_label' | translate }}</label>
								<input type="text" ng-model="item.options.yaxis_label">
							</column>

							<column>
								<label>{{ 'label.graphs_yaxis_unit' | translate }}</label>
								<input id="axis-unit-fixed" name="axis-unit" type="radio" value="fixed" ng-model="item.options.yaxis_unit">
								<label for="axis-unit-fixed" tabindex="0">{{ 'label.graphs_yaxis_unit_fixed' | translate }}</label>
								<input id="axis-unit-metric" name="axis-unit" type="radio" value="metric" ng-model="item.options.yaxis_unit">
								<label for="axis-unit-metric" tabindex="0">{{ 'label.graphs_yaxis_unit_metric' | translate }}</label>
								<input id="axis-unit-binary" name="axis-unit" type="radio" value="binary" ng-model="item.options.yaxis_unit">
								<label for="axis-unit-binary" tabindex="0">{{ 'label.graphs_yaxis_unit_binary' | translate }}</label>
							</column>
						</columns>
					</div>

					<div class="formblock">
						<button ng-click="editOptions(true)"><span class="fa fa-cog"></span> {{ 'label.options_manage' | translate }}</button>
					</div>
				</column>

				<column class="side" ng-if="!optionsEdit">
					<h2>{{ 'label.graphs_preview' | translate }}</h2>

					<graph class="preview" def="itemDef" controls="false"></graph>

					<div ng-show="item.template">
						<h3>{{ 'label.templates_attrs' | translate }} <span class="note">{{ 'label.templates_attrs_note' | translate }}</span></h3>

						<table class="keylist">
							<tbody>
								<tr ng-repeat="key in templateKeys">
									<td class="key"><input type="text" disabled="disabled" ng-model="key"></td>
									<td class="value"><input type="text" ng-model="item.attributes[key]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</column>

				<column class="main" ng-if="optionsEdit">
					<h2>{{ 'label.graphs_options' | translate }}</h2>

					<form ng-entersubmit="setOptions()">
						<label>{{ 'label.range' | translate }}</label>
						<input class="small" type="text" placeholder="-1h" ng-model="options.range">

						<label>{{ 'label.graphs_sample' | translate }}</label>
						<input class="small" type="number" placeholder="400" ng-model="options.sample">

						<label>{{ 'label.graphs_constants' | translate }} <span class="note">{{ 'label.separator_comma' | translate }}</span></label>
						<input class="small" type="text" ng-list="," ng-model="options.constants">

						<label>{{ 'label.graphs_percentiles' | translate }} <span class="note">{{ 'label.separator_comma' | translate }}</span></label>
						<input class="small" type="text" ng-list="," ng-model="options.percentiles">

						<label>{{ 'label.refresh_interval' | translate }} <span class="note">{{ 'label.refresh_interval_unit' | translate }}</span></label>
						<input class="small" type="number" ng-model="options.refresh_interval">
					</form>
				</column>
			</columns>
		</section>

		<footer>
			<div ng-if="!optionsEdit">
				<button class="extra" ng-click="reset()" ng-disabled="!modified" ng-if="id != 'add'"><span class="fa fa-undo"></span> {{ 'label.graphs_reset' | translate }}</button>
				<button class="danger" ng-click="cancel()" ng-show="id == 'add' || !altMode">{{ 'label.cancel' | translate }}</button>
				<button class="danger" ng-click="delete()" ng-show="id != 'add' && altMode"><span class="fa fa-trash-o"></span> {{ 'label.graphs_delete' | translate }}</button>
				<button ng-click="switch(step - 1)" ng-disabled="step == 1 || optionsEdit"><span class="fa fa-chevron-circle-left"></span> {{ 'label.prev' | translate }}</button>
				<button ng-click="switch(step + 1)" ng-disabled="!item.groups || item.groups.length === 0 || step == 2 || optionsEdit">{{ 'label.next' | translate }} <span class="fa fa-chevron-circle-right"></span></button>
				<button ng-click="save()" ng-disabled="step != 2 || optionsEdit" ng-show="!item.template && !altMode">{{ 'label.graphs_save' | translate }}</button>
				<button ng-click="save(true)" ng-disabled="step != 2 || optionsEdit" ng-show="!item.template && altMode">{{ 'label.save_go' | translate }}</button>
				<button ng-click="save()" ng-disabled="step != 2 || optionsEdit" ng-show="item.template">{{ 'label.templates_save' | translate }}</button>
			</div>

			<div ng-if="optionsEdit">
				<button class="danger" ng-click="editOptions(false)">{{ 'label.cancel' | translate }}</button>
				<button ng-click="setOptions()">{{ 'label.ok' | translate }}</button>
			</div>
		</footer>
	</div>

	<div ng-show="tab == 1">
		<section>
			<h1>{{ 'label.templates_instances' | translate }}</h1>

			<message icon="clock-o" type="placeholder" ng-show="!instances">{{ 'mesg.wait' | translate }}</message>
			<message icon="info-circle" type="info" ng-show="instances.length === 0">{{ 'mesg.templates_no_instance' | translate }}</message>

			<list ng-if="instances.length > 0">
				<listrow ng-repeat="i in instances">
					<listcolumn class="main">
						<div class="row">
							<div class="name">{{ i.name }}</div>
							<div class="actions">
								<menu>
									<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ i.id }}" icon="arrow-circle-right" info="{{ 'label.' + section + '_goto' | translate }}" type="button"></menuitem>
								</menu>
							</div>
						</div>
					</listcolumn>
				</listrow>
			</list>
		</section>

		<footer>
			<button ng-click="switchTab(0)">{{ 'label.go_back' | translate }}</button>
		</footer>
	</div>
</article>

<article ng-pane="" ng-show="state == stateOK" ng-if="linked">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ (id == 'link' ? 'label.graphs_new' : 'label.graphs_edit') | translate }}</h1>

		<menu ng-if="id != 'add' && item.link">
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ item.link }}" icon="pencil" info="{{ 'label.' + section + '_edit_template' | translate }}" type="button"></menuitem>
		</menu>
	</header>

	<section ng-pane-step="1">
		<h1>{{ 'label.graphs_definition' | translate }}</h1>

		<columns class="split">
			<column class="main">
				<h2>{{ 'label.general_info' | translate }}</h2>

				<label>{{ 'label.name' | translate }}
					<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
					<span class="warn" ng-show="conflict.name"><span class="fa fa-warning"></span> {{ 'mesg.name_unique' | translate }}</span>
					<span class="warn" ng-show="validated && !item.name"><span class="fa fa-warning"></span> {{ 'mesg.name_invalid' | translate }}</span>
				</label>
				<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.name || validated && !item.name}" ng-model="item.name">

				<label>{{ 'label.alias' | translate }}
					<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
					<span class="warn" ng-show="conflict.alias"><span class="fa fa-warning"></span> {{ 'mesg.alias_unique' | translate }}</span>
				</label>
				<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.alias}" ng-model="item.alias">

				<label>{{ 'label.templates_source' | translate }}</label>
				<angucomplete-alt class="small" id="template" pause="250" selected-object="selectTemplate" remote-api-handler="templateSources" title-field="name" minlength="1" focus-first="true" match-class="highlight" text-no-results="{{ 'mesg.complete_no_match' | translate }}" text-searching="{{ 'mesg.complete_searching' | translate }}" ng-class="{danger: validated && !item.link}"></angucomplete-alt>

				<h2>{{ 'label.templates_attrs' | translate }}</h2>

				<message icon="info-circle" type="info" ng-show="!item.link">{{ 'mesg.templates_empty' | translate }}</message>
				<message icon="clock-o" type="placeholder" ng-show="item.link && templateKeys === undefined">{{ 'mesg.wait' | translate }}</message>
				<message icon="exclamation-circle" type="warning" ng-show="item.link && templateKeys && templateKeys.length === 0">{{ 'mesg.templates_no_key' | translate }}</message>

				<table class="keylist" ng-show="templateKeys">
					<tbody>
						<tr ng-repeat="key in templateKeys">
							<td class="key"><input type="text" disabled="disabled" ng-model="key"></td>
							<td class="value"><input type="text" ng-model="item.attributes[key]"></td>
						</tr>
					</tbody>
				</table>
			</column>

			<column class="side">
				<h2>{{ 'label.graphs_preview' | translate }}</h2>
				<graph class="preview" def="itemDef" controls="false"></graph>
			</column>
		</columns>
	</section>

	<footer>
		<button class="extra" ng-click="reset()" ng-disabled="!modified" ng-if="id != 'link'"><span class="fa fa-undo"></span> {{ 'label.graphs_reset' | translate }}</button>
		<button class="danger" ng-click="cancel()" ng-show="id == 'link' || !altMode">{{ 'label.cancel' | translate }}</button>
		<button class="danger" ng-click="delete()" ng-show="id != 'link' && altMode"><span class="fa fa-trash-o"></span> {{ 'label.graphs_delete' | translate }}</button>
		<button ng-click="save()" ng-disabled="!item.name || !item.link" ng-show="!altMode">{{ 'label.graphs_save' | translate }}</button>
		<button ng-click="save(true)" ng-disabled="!item.name || !item.link" ng-show="altMode">{{ 'label.save_go' | translate }}</button>
	</footer>
</article>

<article ng-show="state == stateError">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.graphs_edit' | translate }}</h1>
	</header>

	<section>
		<message icon="times-circle" type="error" ng-if="!notFound">{{ 'mesg.fetch_error' | translate }}</message>
		<message icon="times-circle" type="error" ng-if="notFound">{{ 'mesg.items_not_found' | translate }}</message>
	</section>

	<footer>
		<button ng-click="cancel(true)"><span class="fa fa-arrow-left"></span> {{ 'label.graphs_back' | translate }}</button>
	</footer>
</article>
