<header class="error" ng-class="{active: errorActive}">
	<div class="content"><span class="fa fa-exclamation-circle"></span> {{ 'mesg.error' | translate:{msg: error} }}</div>
	<div class="action" ng-click="resetError()"><span class="fa fa-times"></span></div>
</header>

<aside ng-class="{open: sidebarOpen}">
	<header>
		<a class="logo" href="{{ ::baseURL }}">
			<img src="assets/images/logo-nav.png" alt="Facette">
		</a>

		<menu>
			<menuitem href="{{ ::baseURL }}" icon="arrow-left" type="button"></menuitem>
			<menuitem icon="bars" type="button" ng-click="toggleSidebar()"></menuitem>
		</menu>
	</header>

	<nav>
		<menu>
			<menuitem label="{{ 'label.library' | translate }}" type="label"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/collections/" icon="th" label="{{ 'label.collections' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/graphs/" icon="area-chart" label="{{ 'label.graphs' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/sourcegroups/" icon="circle-o" label="{{ 'label.sourcegroups' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/metricgroups/" icon="dot-circle-o" label="{{ 'label.metricgroups' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/scales/" icon="crop" label="{{ 'label.scales' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/units/" icon="sliders" label="{{ 'label.units' | translate }}" type="button"></menuitem>
			<menuitem label="{{ 'label.catalog' | translate }}" type="label"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/origins/" icon="circle-o" label="{{ 'label.origins' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/sources/" icon="dot-circle-o" label="{{ 'label.sources' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/metrics/" icon="bullseye" label="{{ 'label.metrics' | translate }}" type="button"></menuitem>
			<menuitem label="{{ 'label.system' | translate }}" type="label"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/providers/" icon="plug" label="{{ 'label.providers' | translate }}" type="button"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/info/" icon="info-circle" label="{{ 'label.info' | translate }}" type="button"></menuitem>
		</menu>
	</nav>
</aside>
