<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions" ng-class="{hastab: section == 'collections' || section == 'graphs'}">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.' + section | translate }}</h1>

		<menu class="main expand">
			<menuitem href="" icon="refresh" title="{{ 'label.list_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/add" icon="plus" title="{{ 'label.' + section + '_create' | translate }}" type="button" ng-if="!readOnly && section != 'collections' && section != 'graphs'"></menuitem>
			<menuitem icon="plus" title="{{ 'label.' + section + '_create' | translate }}" type="button" drop="true" ng-if="!readOnly && (section == 'collections' || section == 'graphs')">
				<menu>
					<menuitem href="{{ ::baseURL }}admin/{{ section }}/add" label="{{ 'label.' + section + '_create' | translate }}" type="button"></menuitem>
					<menuitem href="{{ ::baseURL }}admin/{{ section }}/link" label="{{ 'label.items_create_linked' | translate }}" type="button"></menuitem>
				</menu>
			</menuitem>
		</menu>

		<search name="search" placeholder="{{ 'label.' + section + '_search' | translate }}" ng-model="form.search"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<tabset ng-if="section == 'collections' || section == 'graphs'">
		<tab active="!templates" label="{{ 'label.' + section | translate }}" href="{{ ::baseURL }}admin/{{ section }}/"></tab>
		<tab active="templates" label="{{ 'label.templates' | translate }}" href="{{ ::baseURL }}admin/{{ section }}/?templates=1"></tab>
	</tabset>

	<section>
		<h1>{{ 'label.' + section + '_list' | translate }} <span class="count" ng-if="total">{{ total }}</span></h1>

		<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
		<message icon="info-circle" type="info" ng-show="state == stateOK && !form.search && items.length === 0">{{ 'mesg.' + section + '_empty' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && form.search && items.length === 0">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="reset()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }} <a href="" ng-click="refresh()">{{ 'label.retry' | translate }}</a></message>

		<list ng-show="state == stateOK && items.length > 0">
			<listrow ng-repeat="i in items">
				<listcolumn class="main">
					<div class="row">
						<div class="name">{{ i.name }} <span class="fa fa-link" ng-if="i.link"></span></div>
						<div class="actions">
							<menu>
								<menuitem href="" icon="info-circle" type="button" tooltip-data="i" tooltip-formatter="formatBasicTooltip" tooltip-position="bottom"></menuitem>
								<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ i.id }}" icon="pencil" title="{{ 'label.' + section + '_edit' | translate }}" type="button" ng-if="!readOnly"></menuitem>
								<menuitem href="" icon="clone" title="{{ 'label.' + section + '_clone' | translate }}" type="button" ng-click="clone(i)" ng-if="!readOnly"></menuitem>
								<menuitem href="{{ ::baseURL }}browse/{{ section }}/{{ i.id }}" icon="arrow-circle-right" title="{{ 'label.' + section + '_goto' | translate }}" type="button" ng-if="!templates && (section == 'collections' || section == 'graphs')"></menuitem>
							</menu>
						</div>
					</div>
					<div class="description" ng-class="{placeholder: !i.description}">{{ i.description || ('mesg.no_desc' | translate) }}</div>
				</listcolumn>
				<listcolumn class="date expand">
					{{ 'mesg.last_update' | translate }} <span class="value">{{ (i.modified || i.created) | date:'medium' }}</span>
				</listcolumn>
				<listcolumn class="actions" ng-if="!readOnly">
					<menu>
						<menuitem href="" icon="times-circle" title="{{ 'label.' + section + '_remove' | translate }}" type="button" ng-click="remove(i)"></menuitem>
					</menu>
				</listcolumn>
			</listitem>
		</list>

		<paging page="page" page-size="limit" total="total" paging-action="refresh(page)" hide-if-empty="true" show-prev-next="true"></paging>
	</section>
</article>
