<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.providers' | translate }}</h1>

		<menu class="main expand">
			<menuitem icon="refresh{{ refreshing ? ' spin 3x' : '' }}" info="{{ 'label.list_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/providers/add" icon="plus" info="{{ 'label.providers_add' | translate }}" type="button" ng-if="!readOnly"></menuitem>
		</menu>

		<search id="search" placeholder="{{ 'label.providers_search' | translate }}" ng-model="form.search"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section>
		<h1>{{ 'label.providers_list' | translate }} <span class="count" ng-if="total">{{ total }}</span></h1>

		<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
		<message icon="info-circle" type="info" ng-show="state == stateOK && !search && items.length === 0">{{ 'mesg.items_empty' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && search && items.length === 0">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="reset()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }} <a href="" ng-click="refresh()">{{ 'label.retry' | translate }}</a></message>

		<list ng-show="state == stateOK && items.length > 0">
			<listrow href="{{ !readOnly ? baseURL + 'admin/providers/' + i.id : '' }}" ng-class="{disabled: !i.enabled}" ng-repeat="i in items">
				<listcolumn class="toggle" ng-if="!readOnly">
					<span class="toggle fa" ng-class="{'fa-toggle-on': i.enabled, 'fa-toggle-off': !i.enabled}" ng-click="$event.preventDefault(); toggle(i)"></span>
				</listcolumn>
				<listcolumn class="main">
					<div class="row">
						<div class="name">{{ i.name }}</div>
						<div class="actions">
							<menu>
								<menuitem icon="info-circle" type="button" info="<table><tr><th class='label'>{{ 'label.identifier' | translate }}</th><td>{{ i.id }}</td></tr></table>" info-direction="bottom-right"></menuitem>
								<menuitem icon="clone" info="{{ 'label.providers_clone' | translate }}" type="button" ng-click="$event.preventDefault(); clone(i)" ng-if="!readOnly"></menuitem>
								<menuitem icon="refresh" info="{{ 'label.providers_refresh' | translate }}" type="button" ng-click="$event.preventDefault(); refreshProvider(i)" ng-disabled="i.refreshing" ng-show="i.enabled"></menuitem>
							</menu>
						</div>
					</div>
					<div class="description" ng-class="{placeholder: !i.description}" ng-show="!i.refreshing">{{ i.description || ('mesg.no_desc' | translate) }}</div>
					<div class="description" ng-show="i.refreshing"><span class="fa fa-refresh fa-spin"></span> {{ 'label.providers_refreshing' | translate }}</div>
				</listcolumn>
				<listcolumn class="date expand">
					{{ 'mesg.last_update' | translate }} <span class="value">{{ i.modified | date:'medium' }}</span>
				</listcolumn>
				<listcolumn class="actions" ng-if="!readOnly">
					<menu>
						<menuitem icon="times-circle" info="{{ 'label.providers_delete' | translate }}" type="button" ng-click="$event.preventDefault(); delete(i)"></menuitem>
					</menu>
				</listcolumn>
			</listrow>
		</list>
	</section>
</article>
