<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.' + section | translate }}</h1>

		<menu class="main expand">
			<menuitem icon="refresh{{ refreshing ? ' spin 3x' : '' }}" info="{{ 'label.list_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
		</menu>

		<search id="search" placeholder="{{ 'label.' + section + '_search' | translate }}" ng-model="form.search"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section>
		<h1>{{ 'label.' + section + '_list' | translate }} <span class="count" ng-if="total">{{ total }}</span></h1>

		<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
		<message icon="info-circle" type="info" ng-show="state == stateOK && !form.search && items.length === 0">{{ 'mesg.items_none' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && form.search && items.length === 0">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="reset()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }} <a href="" ng-click="refresh()">{{ 'label.retry' | translate }}</a></message>

		<list ng-show="state == stateOK && items.length > 0">
			<listrow ng-repeat="name in items">
				<listcolumn class="main">
					<div class="row">
						<div class="name">{{ name }}</div>
						<div class="actions">
							<menu>
								<menuitem icon="info-circle" type="button" info="<table><tr><th class='label'>{{ 'label.providers' | translate }}</th><td>{{ providersData[name].join(', ') || ('mesg.wait' | translate) }}</td></tr></table>" info-direction="bottom-right" ng-mouseenter="providersData[name] || getProviders(name)"></menuitem>
							</menu>
						</div>
					</div>
				</listcolumn>
			</listrow>
		</list>

		<paging page="page" page-size="limit" total="total" paging-action="refresh(page)" hide-if-empty="true" show-prev-next="true"></paging>
	</section>
</article>
