<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.providers' | translate }}</h1>

		<menu class="main expand">
			<menuitem href="" icon="refresh" title="{{ 'label.list_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/add" icon="plus" title="{{ 'label.providers_add' | translate }}" type="button"></menuitem>
		</menu>

		<search name="search" placeholder="{{ 'label.' + section + '_search' | translate }}" ng-model="search"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section>
		<h1>{{ 'label.providers_list' | translate }} <span class="count" ng-if="total">{{ total }}</span></h1>

		<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
		<message icon="info-circle" type="info" ng-show="state == stateOK && !search && items.length === 0">{{ 'mesg.items_empty' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && search && items.length === 0">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="reset()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }} <a href="" ng-click="refresh()">{{ 'label.retry' | translate }}</a></message>

		<list ng-show="state == stateOK && items.length > 0">
			<listrow ng-class="{disabled: !i.enabled}" ng-repeat="i in items">
				<listcolumn class="toggle">
					<span class="toggle fa" ng-class="{'fa-toggle-on': i.enabled, 'fa-toggle-off': !i.enabled}" ng-click="toggle(i)"></span>
				</listcolumn>
				<listcolumn class="main">
					<div class="row">
						<div class="name">{{ i.name }}</div>
						<div class="actions">
							<menu>
								<menuitem icon="info-circle" type="button" tooltip-data="i" tooltip-formatter="formatBasicTooltip" tooltip-position="bottom"></menuitem>
								<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ i.id }}" icon="pencil" title="{{ 'label.' + section + '_edit' | translate }}" type="button"></menuitem>
								<menuitem icon="clone" title="{{ 'label.' + section + '_clone' | translate }}" type="button" ng-click="clone(i)"></menuitem>
								<menuitem icon="refresh" title="{{ 'label.providers_refresh' | translate }}" type="button" ng-click="refreshProvider(i)" ng-disabled="i.refreshing" ng-show="i.enabled"></menuitem>
							</menu>
						</div>
					</div>
					<div class="description" ng-class="{placeholder: !i.description}" ng-show="!i.refreshing">{{ i.description || ('mesg.no_desc' | translate) }}</div>
					<div class="description" ng-show="i.refreshing"><span class="fa fa-refresh fa-spin"></span> {{ 'label.providers_refreshing' | translate }}</div>
				</listcolumn>
				<listcolumn class="date expand">
					{{ 'mesg.last_update' | translate }} <span class="value">{{ (i.modified || i.created) | date:'medium' }}</span>
				</listcolumn>
				<listcolumn class="actions">
					<menu>
						<menuitem href="" icon="times-circle" title="{{ 'label.' + section + '_remove' | translate }}" type="button" ng-click="remove(i)"></menuitem>
					</menu>
				</listcolumn>
			</listrow>
		</list>
	</section>
</article>
