<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions" ng-class="{hastab: section == 'collections' || section == 'graphs'}">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.' + section | translate }}</h1>

		<menu class="dropdown main expand">
			<menuitem icon="refresh{{ refreshing ? ' spin 3x' : '' }}" info="{{ 'label.list_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/add" icon="plus" info="{{ 'label.' + section + '_create' | translate }}" type="button" ng-if="!readOnly && section != 'collections' && section != 'graphs'"></menuitem>
			<menuitem icon="plus" type="button" ng-if="!readOnly && (section == 'collections' || section == 'graphs')">
				<menu>
					<menuitem href="{{ ::baseURL }}admin/{{ section }}/add" label="{{ 'label.' + section + '_create' | translate }}" type="button"></menuitem>
					<menuitem href="{{ ::baseURL }}admin/{{ section }}/link" label="{{ 'label.items_create_linked' | translate }}" type="button"></menuitem>
				</menu>
			</menuitem>
		</menu>

		<search id="search" placeholder="{{ 'label.' + section + '_search' | translate }}" ng-model="form.search"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<tabset ng-if="section == 'collections' || section == 'graphs'">
		<tab active="!templates" label="{{ 'label.' + section | translate }}" href="{{ ::baseURL }}admin/{{ section }}/"></tab>
		<tab active="templates" label="{{ 'label.templates' | translate }}" href="{{ ::baseURL }}admin/{{ section }}/?templates=1"></tab>
	</tabset>

	<section>
		<div class="space">
			<h1 class="main">{{ 'label.' + section + '_list' | translate }} <span class="count" ng-if="total">{{ total }}</span></h1>

			<menu class="dropdown">
				<menuitem class="left reverse" icon="sort" label="{{ 'label.sort' | translate }}" type="button">
					<menu class="icons">
						<menuitem icon="{{ sort === null ? 'check' : '' }}" label="{{ 'label.sort_type_name' | translate }}" type="button" ng-click="setSort(null)"></menuitem>
						<menuitem icon="{{ sort == '-modified' ? 'check' : '' }}" label="{{ 'label.sort_type_newest' | translate }}" type="button" ng-click="setSort('-modified')"></menuitem>
						<menuitem icon="{{ sort == 'modified' ? 'check' : '' }}" label="{{ 'label.sort_type_oldest' | translate }}" type="button" ng-click="setSort('modified')"></menuitem>
					</menu>
				</menuitem>
			</menu>
		</div>

		<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
		<message icon="info-circle" type="info" ng-show="state == stateOK && !form.search && items.length === 0">{{ 'mesg.' + section + '_empty' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && form.search && items.length === 0">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="reset()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }} <a href="" ng-click="refresh()">{{ 'label.retry' | translate }}</a></message>

		<list ng-show="state == stateOK && items.length > 0">
			<listrow href="{{ !readOnly ? baseURL + 'admin/' + section + '/' + i.id : '' }}" ng-repeat="i in items">
				<listcolumn class="main">
					<div class="row">
						<div class="name">{{ i.name }} <span class="fa fa-link" ng-if="i.link"></span></div>
						<div class="actions">
							<menu>
								<menuitem icon="info-circle" type="button" info="<table><tr><th class='label'>{{ 'label.identifier' | translate }}</th><td>{{ i.id }}</td></tr><tr ng-if='{{ section == 'collections' || section == 'graphs' }}'><th class='label'>{{ 'label.alias' | translate }}</th><td>{{ i.alias || '-' }}</td></tr></table>" info-direction="bottom-right"></menuitem>
								<menuitem icon="clone" info="{{ 'label.' + section + '_clone' | translate }}" type="button" ng-click="$event.preventDefault(); clone(i)" ng-if="!readOnly"></menuitem>
								<menuitem href="{{ ::baseURL }}browse/{{ section }}/{{ i.id }}" icon="arrow-circle-right" info="{{ 'label.' + section + '_goto' | translate }}" type="button" ng-if="!templates && (section == 'collections' || section == 'graphs')"></menuitem>
							</menu>
						</div>
					</div>
					<div class="description" ng-class="{placeholder: !i.description}">{{ i.description || ('mesg.no_desc' | translate) }}</div>
				</listcolumn>
				<listcolumn class="date expand">
					{{ 'mesg.last_update' | translate }} <span class="value">{{ i.modified | date:'medium' }}</span>
				</listcolumn>
				<listcolumn class="actions" ng-if="!readOnly">
					<menu>
						<menuitem icon="times-circle" info="{{ 'label.' + section + '_delete' | translate }}" type="button" ng-click="$event.preventDefault(); delete(i)"></menuitem>
					</menu>
				</listcolumn>
			</listitem>
		</list>

		<paging page="page" page-size="limit" total="total" paging-action="refresh(page)" hide-if-empty="true" show-prev-next="true"></paging>
	</section>
</article>
