{{ define "title" }}{{ .Graph.Name }} — Facette{{ end }}

{{ define "head" }}
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.datepicker.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/i18next.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/highcharts.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/highcharts.exporting.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/rgbcolor.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/canvg.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/moment.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/sprintf.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/facette.js" }}"></script>
{{ end }}

{{ define "content" }}
		<article class="frame" data-pane="graph-show" data-paneopts="id: {{ .Graph.ID }}">
			<section class="scrollarea full">{{ template "template_graph" }}
				<div data-graph="{{ .Graph.ID }}" data-graphopts="{{ if ne .Time "" }}time: {{ .Time }}; {{ end }}{{ if ne .Range "" }}range: {{ .Range }}; {{ end }}{{ if ne .Refresh "" }}refresh_interval: {{ .Refresh }}; {{ end }}{{ if ne .Graph.Link "" }}linked: true; {{ end }}expand: false" id="graph-0"></div>
			</section>
		</article>
{{ end }}
