* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

body {
	background-color: #fff;
	color: #2c3e50;
	line-height: 1.5rem;
}

:disabled {
	pointer-events: none;
}

a {
	color: inherit;
}

a:focus {
	outline: none;
}

::placeholder {
	color: #95a5a6;
	opacity: 1;
}
