@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-latin-300.woff') format('woff'),
		url('../fonts/roboto-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/roboto-latin-400.woff') format('woff'),
		url('../fonts/roboto-latin-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-latin-500.woff') format('woff'),
		url('../fonts/roboto-latin-500.woff2') format('woff2');
}
