.list,
.listrow,
.listrow .actions .menu,
.listcolumn.main .row,
.listcolumn.pattern .row {
	display: flex;
}

table.list {
	display: table;
	border-spacing: 0;
	width: 100%;
}

.list {
	flex-direction: column;
}

.list .as-sortable-placeholder,
.listrow,
table.list .listcolumn {
	border-top: 1px solid #ecf0f1;
	box-sizing: border-box;
}

.listrow {
	text-decoration: none;
}

table.list .listrow {
	display: table-row;
}

.listrow:last-child,
table.list .listrow:last-child .listcolumn {
	border-bottom: 1px solid #ecf0f1;
}

.listrow:focus,
.listrow.active,
.listrow.selected {
	background-color: #3498db;
	outline: none;
}

.listrow:focus,
.listrow.active,
.listrow.selected,
.listrow:focus .listcolumn.checkbox label,
.listrow.active .listcolumn.checkbox label,
.listrow.selected .listcolumn.checkbox label {
	color: #fff;
}

.listrow:focus .listcolumn.checkbox label,
.listrow.active .listcolumn.checkbox label,
.listrow.selected .listcolumn.checkbox label {
	opacity: 0.5;
}

.listrow:focus,
.listrow.active,
.listrow.selected,
.listrow:focus + .listrow,
.listrow.active + .listrow,
.listrow.selected + .listrow {
	border-top-color: #318ecc;
}

.listrow:focus:last-child,
.listrow.active:last-child,
.listrow.selected:last-child {
	border-bottom-color: #318ecc;
}

.listrow.active,
.listrow.locked {
	pointer-events: none;
}

.listrow.disabled .listcolumn,
.listrow.locked .listcolumn {
	opacity: 0.35;
}

.listrow > .listcolumn {
	padding: 0.5rem 1rem;
}

.listcolumn.expand {
	flex: 1;
}

table.list .listcolumn.expand {
	flex: none;
	width: 100%;
}

.listcolumn.heading {
	font-weight: 500;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

thead .listcolumn.heading {
	border: none !important;
	text-align: left;
}

.listcolumn.pre {
	white-space: pre;
}

.listcolumn.handle,
.listcolumn.toggle {
	font-size: 1.25rem;
	padding-right: 0;
}

.listcolumn.handle {
	padding: 0;
	text-align: center;
}

.listcolumn.handle .fa {
	display: block;
	line-height: 1.5rem;
	padding: 0.5rem;
}

.listcolumn.handle + .listcolumn,
.listcolumn.checkbox + .listcolumn {
	padding-left: 0.5rem;
}

.listrow.active .listcolumn.handle .fa,
.listrow.locked .listcolumn.handle .fa,
.listrow.active .listcolumn.checkbox label {
	visibility: hidden;
}

.listcolumn.toggle .fa {
	cursor: pointer;
}

.listcolumn.main {
	overflow: hidden;
}

.listcolumn.main .color {
	margin-right: 0.5rem;
}

.listcolumn.main .name,
.listcolumn.main .description,
.listcolumn.main .description .info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.listcolumn.main .name .fa {
	margin-left: 0.25rem;
}

.listcolumn.main .name .error {
	color: #e74c3c;
}

.listcolumn.main .note {
	white-space: nowrap;
}

.listcolumn.main .actions {
	margin-left: 0.75rem;
	flex: 1;
}

.listcolumn.main .actions .menuitem {
	font-size: 1.1rem;
	text-align: center;
	width: 1.5rem;
}

.listcolumn.main .actions .menuitem[disabled] {
	opacity: 0.35;
	pointer-events: none;
}

.listcolumn.main .description {
	min-height: 1.5rem;
	opacity: 0.5;
}

.listcolumn.main .description .info {
	text-transform: lowercase;
}

.listcolumn.main .description .attrinfo + .attrinfo::before {
	content: ', ';
}

.listcolumn.main .description .count {
	background-color: #2c3e50;
	border-radius: 1rem;
	color: #fff;
	font-size: 0.8rem;
	line-height: normal;
	margin-left: 0.75rem;
	text-align: center;
	min-width: 1.5rem;
	display: inline-block;
}

.listcolumn.main .description.bullet .info::before {
	content: '›';
	margin-right: 0.35rem;
}

.listcolumn.main .description .info strong {
	font-weight: 500;
	text-transform: none;
}

.listcolumn.handle .fa,
.listcolumn.main .description.placeholder {
	opacity: 0.25;
}

.listcolumn.date,
.listrow .actions .menuitem .content,
.listrow.active .listcolumn.main .description.placeholder,
.listrow.selected .listcolumn.main .description.placeholder {
	opacity: 0.35;
}

.listrow.active .listcolumn.main .description,
.listrow.selected .listcolumn.main .description,
.listrow.active .listcolumn.date,
.listrow.active .actions .menuitem .content,
.listrow.selected .listcolumn.date,
.listrow.selected .actions .menuitem .content,
.listrow .actions .menuitem .content:hover,
.listrow .actions .menuitem .content.active {
	opacity: 0.65;
}

.listcolumn.date,
.listrow .actions .menu {
	visibility: hidden;
}

.listrow:hover .listcolumn.date,
.listrow:hover .actions .menu {
	visibility: visible;
}

.listcolumn.handle,
.listcolumn.checkbox,
.listcolumn.date,
.listrow > .actions {
	align-self: center;
}

.listcolumn.checkbox {
	text-align: center;
}

.listcolumn.checkbox label {
	color: #ecf0f1;
}

.listcolumn.checkbox input[type="checkbox"] + label::before {
	margin-right: 0;
}

.listcolumn.date {
	text-align: right;
}

.listcolumn.date {
	white-space: nowrap;
}

.listcolumn.actions .menuitem {
	width: 2rem;
}

.listcolumn.checkbox,
.listcolumn.action,
.listcolumn.target,
.listcolumn.pattern {
	padding: 0.5rem;
}

.listcolumn.action,
.listcolumn.target {
	min-width: 10rem;
}

.listcolumn.action {
	padding-left: 0 !important;
}

.listcolumn.pattern input[type=text] {
	margin: 0;
}

.listcolumn.pattern .fa {
	align-self: center;
	text-align: center;
	width: 3.5rem;
}

.listrow > .actions {
	font-size: 1.25rem;
}

.listrow .actions .menuitem .content {
	cursor: pointer;
}

.listrow.active .actions .menuitem .content:hover,
.listrow.active .actions .menuitem .content.active,
.listrow.selected .actions .menuitem .content:hover,
.listrow.selected .actions .menuitem .content.active {
	opacity: 1;
}

.keylist {
	border-spacing: 0 0.35rem;
	width: 100%;
}

.keylist .key {
	min-width: 10rem;
}

.keylist input,
.keylist .value {
	width: 100%;
}

.keylist .key input {
	border-bottom-right-radius: 0;
	border-right: none;
	border-top-right-radius: 0;
}

.keylist .value input {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

table.list a[rel=external] {
	color: #2980b9;
}

table.list a[rel=external] .fa:last-child {
	margin-left: 0.25rem;
	vertical-align: middle;
}

@media screen and (max-width: 1024px) {
	aside.expand + article .listcolumn.main {
		flex: 1;
	}

	aside.expand + article .listcolumn.date {
		display: none;
	}
}

@media screen and (max-width: 876px) {
	aside.expand + article .listrow .actions {
		display: none;
	}

	aside.expand + article .listrow .actions .menu {
		visibility: visible;
	}

	aside.expand + article .listrow:hover .actions {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.listcolumn.main {
		flex: 1;
	}

	.listcolumn.date {
		display: none;
	}
}
