<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ template "title" . }}</title>
		<meta charset="utf-8">{{ if ne .URLPrefix "" }}
		<meta name="url-prefix" content="{{ .URLPrefix }}">{{ end }}{{ if .ReadOnly }}
		<meta name="read-only" content="true">{{ end }}
		<link rel="stylesheet" href="{{ .URLPrefix }}{{ asset "/static/style.css" }}" media="screen">
		<link rel="stylesheet" href="{{ .URLPrefix }}{{ asset "/static/style.print.css" }}" media="print">
		<link rel="shortcut icon" href="{{ .URLPrefix }}{{ asset "/static/favicon.png" }}">{{ template "head" . }}</head>
	<body>
{{ template "body" . }}
	</body>
</html>
