{{ define "title" }}Facette{{ end }}

{{ define "head" }}
		<link rel="search" href="{{ .URLPrefix }}/browse/opensearch.xml" title="Add {{ .Request.Host }} search" type="application/opensearchdescription+xml">
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/i18next.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/facette.js" }}"></script>
{{ end }}

{{ define "content" }}
		<nav>
			<dl class="tree" data-tree="collections" data-treeopts="url: library/collections/">
				<dt>Collections</dt>
				<dd class="treecntr">
					<dl class="treeitem treetmpl">
						<dt>
							<a class="treelabl" href="#show-collection">
								<span class="icon"></span>
								<span class="name"></span>
							</a>
						</dt>
						<dd class="treecntr"></dd>
					</dl>
				</dd>
				<dd class="placeholder icon icon-info">No collection defined</dd>
			</dl>
		</nav>

		<article>
			<header>
				<h1>Dashboard</h1>
			</header>

			<section class="scrollarea full">
				<div class="logo">
					<img src="{{ .URLPrefix }}{{ asset "/static/logo-text.png" }}" height="80" alt="logo">
				</div>

				<div class="search">
					<form action="{{ .URLPrefix }}/browse/search" method="get">
						<p>Search for Collection or Graph:</p>
						<p>
							<input autofocus="autofocus" class="full" name="q" type="text">
						</p>
					</form>
				</div>
			</section>
		</article>
{{ end }}
