{{ define "body" }}{{ template "template_element" }}
		<div class="console" id="console">
			<span class="message icon icon-error"></span>
			<a class="close" href="#console-close">Close</a>
		</div>

		<header>
			<a href="{{ .URLPrefix }}/"><img src="{{ .URLPrefix }}{{ asset "/static/logo-text-light.png" }}" height="32" alt="facette"></a>

			<ul>
				<li><a class="icon icon-configure" href="{{ .URLPrefix }}/admin/" title="Administration Panel"></a></li>
			</ul>
		</header>
{{ template "content" . }}{{ end }}
