{{ define "title" }}Administration Panel: Collections — Facette{{ end }}

{{ define "head" }}
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/i18next.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/moment.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/facette.js" }}"></script>
{{ end }}

{{ define "content" }}
		<article data-pane="collection-list" data-paneopts="section: {{ .Section }}">
			<header>
				<h1>Administration Panel — Collections</h1>

				<nav>{{ if not .ReadOnly }}
					<ul>
						<li><a class="icon icon-add" href="{{ .URLPrefix }}/admin/collections/add" title="Add Collection"></a></li>
					</ul>{{ end }}
				</nav>

				<div class="filter icon icon-search">
					<input data-listfilter="collections" placeholder="Search for Collection" type="text">
				</div>
			</header>

			<section class="scrollarea full">
				<div class="list" data-list="collections" data-listopts="init: true; url: library/collections/; messages: collection">
					<h1>Collections List <span class="count"></span></h1>

					<div class="listmesg" data-listmesg="collections"></div>

					<div class="listitem" data-listtmpl="collections">{{ if not .ReadOnly }}
						<div class="actions">
							<a class="icon icon-remove" href="#remove-collection" title="Remove Collection"></a>
						</div>{{ end }}
						<div class="date">Last updated on <span></span></div>
						<div>
							<span class="name"></span>
							<span class="actions">{{ if not .ReadOnly }}
								<a class="icon icon-info" href="#show-info" title="Show Information"></a>
								<a class="icon icon-edit" href="#edit-collection" title="Edit Collection"></a>
								<a class="icon icon-copy" href="#clone-collection" title="Clone Collection"></a>{{ end }}
								<a class="icon icon-goto" href="#show-collection" title="Go to Collection"></a>
							</span>
						</div>
						<div class="desc"></div>
					</div>
				</div>

				<button data-listmore="{{ .Section }}" disabled="disabled">Load More</button>
			</section>
		</article>
{{ end }}
