{{ define "title" }}Administration Panel — Facette{{ end }}

{{ define "head" }}
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/i18next.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/moment.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/facette.js" }}"></script>
{{ end }}

{{ define "content" }}
		<article>
			<header>
				<h1>Administration Panel</h1>
			</header>

			<section class="scrollarea full">
				<h1>Catalog statistics</h1>

				<table class="stats">
					<tr>
						<th>Total Origins:</th>
						<td> {{ .Stats.Origins }}</td>
					</tr>
					<tr>
						<th>Total Sources:</th>
						<td>{{ .Stats.Sources }}</td>
					</tr>
					<tr>
						<th>Total Metrics:</th>
						<td>{{ .Stats.Metrics }}</td>
					</tr>
				</table>

				<h1>Library statistics</h1>

				<table class="stats">
					<tr>
						<th>Total Collections:</th>
						<td>{{ .Stats.Collections }}</td>
					</tr>
					<tr>
						<th>Total Graphs:</th>
						<td>{{ .Stats.Graphs }}</td>
					</tr>
					<tr>
						<th>Total Groups:</th>
						<td>{{ .Stats.Groups }}</td>
					</tr>
				</table>
			</section>
		</article>
{{ end }}
