{{ define "body" }}{{ template "template_element" }}
		<div class="console" id="console">
			<span class="message icon icon-error"></span>
			<a class="close" href="#console-close">Close</a>
		</div>

		<header>
			<a href="{{ .URLPrefix }}/admin/"><img src="{{ .URLPrefix }}{{ asset "/static/logo-text-light.png" }}" height="32" alt="facette"></a>

			<ul>
				<li><a class="icon icon-arrow-left" href="{{ .URLPrefix }}/" title="Back to Home Page"></a></li>
			</ul>
		</header>

		<nav>
			<dl>
				<dt>Library</dt>
				<dd><a class="icon icon-collection{{ if eq .Section "collections" }} current{{ end }}" href="{{ .URLPrefix }}/admin/collections/">Collections</a></dd>
				<dd><a class="icon icon-graph{{ if eq .Section "graphs" }} current{{ end }}" href="{{ .URLPrefix }}/admin/graphs/">Graphs</a></dd>
				<dd><a class="icon icon-folder icon-stack icon-stack-source{{ if eq .Section "sourcegroups" }} current{{ end }}" href="{{ .URLPrefix }}/admin/sourcegroups/">Source Groups</a></dd>
				<dd><a class="icon icon-folder icon-stack icon-stack-metric{{ if eq .Section "metricgroups" }} current{{ end }}" href="{{ .URLPrefix }}/admin/metricgroups/">Metric Groups</a></dd>
				<dd><a class="icon icon-scale{{ if eq .Section "scales" }} current{{ end }}" href="{{ .URLPrefix }}/admin/scales/">Scales</a></dd>
				<dd><a class="icon icon-unit{{ if eq .Section "units" }} current{{ end }}" href="{{ .URLPrefix }}/admin/units/">Units</a></dd>
				<dt>Catalog</dt>
				<dd><a class="icon icon-square icon-origin{{ if eq .Section "origins" }} current{{ end }}" href="{{ .URLPrefix }}/admin/origins/">Origins</a></dd>
				<dd><a class="icon icon-square icon-source{{ if eq .Section "sources" }} current{{ end }}" href="{{ .URLPrefix }}/admin/sources/">Sources</a></dd>
				<dd><a class="icon icon-square icon-metric{{ if eq .Section "metrics" }} current{{ end }}" href="{{ .URLPrefix }}/admin/metrics/">Metrics</a></dd>
			</dl>
		</nav>
{{ template "content" . }}{{ end }}
