<ng-include src="'templates/browse/layout.html'" ng-include-replace="true"></ng-include>

<article class="with-actions">
	<header>
		<h1 title="{{ title }}">{{ title }}</h1>

		<menu class="main expand">
			<menuitem href="{{ ::baseURL }}admin/{{ section }}/{{ id }}" icon="pencil" title="{{ 'label.' + section + '_edit' | translate }}" type="button" ng-if="!readOnly"></menuitem>
			<menuitem href="" icon="refresh" badge="{{ refreshInterval || '' }}" title="{{ 'label.' + section + '_refresh' | translate }}" type="button" drop="true">
				<menu>
					<menuitem label="{{ 'label.' + section + '_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem label="{{ 'label.graphs_refresh_set_alt' | translate }}" type="button" ng-click="setRefresh($event)"></menuitem>
				</menu>
			</menuitem>
			<menuitem href="" icon="clock-o" title="{{ 'label.range_set' | translate }}" type="button" drop="true">
				<menu>
					<menuitem icon="history" label="{{ 'label.range_reset' | translate }}" type="button" ng-click="resetRange()"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem label="{{ range }}" type="button" ng-click="setRange(range)" ng-repeat="range in rangeValues"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem icon="calendar" label="{{ 'label.range_custom' | translate }}" type="button" ng-click="setRange('custom')"></menuitem>
				</menu>
			</menuitem>
			<menuitem href="" icon="columns" title="{{ 'label.page_grid_set' | translate }}" type="button" drop="true">
				<menu>
					<menuitem label="{{ 'label.page_grid_1' | translate }}" ng-click="setGrid(1)" type="button"></menuitem>
					<menuitem label="{{ 'label.page_grid_2' | translate }}" ng-click="setGrid(2)" type="button"></menuitem>
					<menuitem label="{{ 'label.page_grid_3' | translate }}" ng-click="setGrid(3)" type="button"></menuitem>
				</menu>
			</menuitem>
			<menuitem icon="print" title="{{ 'label.print_page' | translate }}" type="button" ng-click="print()"></menuitem>
		</menu>

		<menu>
			<menuitem href="" icon="toggle-off" label="{{ 'label.graphs_show_legends' | translate }}" type="button" ng-click="toggleLegends(true)" ng-show="!showLegends"></menuitem>
			<menuitem href="" icon="toggle-on" label="{{ 'label.graphs_show_legends' | translate }}" type="button" ng-click="toggleLegends(false)" ng-show="showLegends"></menuitem>
		</menu>

		<search name="filter" icon="filter" placeholder="{{ 'label.graphs_filter' | translate }}" ng-model="form.filter" ng-if="section == 'collections'"></search>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section>
		<message icon="info-circle" type="info" ng-if="state == stateOK && graphs.length === 0">{{ 'mesg.graphs_empty' | translate }}</message>
		<message icon="info-circle" type="warning" ng-show="state == stateOK && graphs.length > 0 && noMatch">{{ 'mesg.no_search_match' | translate }} <a href="" ng-click="resetFilter()">{{ 'label.reset' | translate }}</a></message>
		<message icon="times-circle" type="error" ng-show="state == stateError">{{ 'mesg.fetch_error' | translate }}</message>

		<div class="grid grid{{ gridSize }}">
			<div class="grid-item" ng-repeat="g in graphs" ng-if="graphs.length > 0">
				<a id="graph{{ g.index }}"></a>
				<graph index="{{ g.index }}" graph-id="{{ g.id }}" options="g.options" attributes="g.attributes" controls="true" ng-show="!g.hidden"></graph>
			</div>
		</div>
	</section>
</article>
