{{ define "title" }}Administration Panel: {{ if eq .Section "sourcegroups" }}Source{{ else }}Metric{{ end }} Groups — Facette{{ end }}

{{ define "script" }}
		<script src="/static/jquery.js"></script>
		<script src="/static/i18next.js"></script>
		<script src="/static/moment.js"></script>
		<script src="/static/facette.js"></script>
{{ end }}

{{ define "content" }}
		<article data-pane="group-list" data-paneopts="section: {{ .Section }}">
			<header>
				<h1>Administration Panel — {{ if eq .Section "sourcegroups" }}Source{{ else }}Metric{{ end }} Groups</h1>

				<nav>
					<ul>
						<li><a class="icon icon-add" href="/admin/{{ .Section }}/add" title="Add Group"></a></li>
					</ul>
				</nav>

				<div class="filter icon icon-search">
					<input data-listfilter="{{ .Section }}" placeholder="Search for Group" type="text">
				</div>
			</header>

			<section class="scrollarea full">
				<div class="list" data-list="{{ .Section }}" data-listopts="init: true; url: library/{{ .Section }}">
					<h1>Groups List <span class="count"></span></h1>

					<div class="listmesg" data-listmesg="{{ .Section }}"></div>

					<div class="listitem" data-listtmpl="{{ .Section }}">
						<div class="actions">
							<a class="icon icon-remove" href="#remove-group" title="Remove Group"></a>
						</div>
						<div class="date">Last updated on <span></span></div>
						<div>
							<span class="name"></span>
							<span class="actions">
								<a class="icon icon-edit" href="#edit-group" title="Edit Group"></a>
								<a class="icon icon-copy" href="#clone-group" title="Clone Group"></a>
							</span>
						</div>
						<div class="desc"></div>
					</div>
				</div>

				<button data-listmore="{{ .Section }}" disabled="disabled">Load More</button>
			</section>
		</article>
{{ end }}
