<div class="graph" in-view="handleView($inview, $inviewInfo)" ng-class="{empty: empty, error: error, focus: focus, folded: folded, frame: frame, loading: loading, zooming: zooming}">
	<message class="clickable" icon="eye-slash" ng-click="toggleFold(false)" ng-show="folded">{{ 'mesg.graphs_folded' | translate }}</a></message>

	<div class="graph-control" ng-if="controls && !folded">
		<menu class="dropdown graph-menu">
			<menuitem href="{{ ::baseURL }}admin/graphs/{{ graphId }}" icon="pencil" info="{{ 'label.graphs_edit' | translate }}" type="button" ng-if="!$root.readOnly"></menuitem>
			<menuitem type="separator" ng-if="!$root.readOnly"></menuitem>
			<menuitem icon="refresh" info="{{ 'label.graphs_refresh' | translate }}" type="button" ng-click="refresh()"></menuitem>
			<menuitem class="left" icon="clock-o" info="{{ 'label.range_modify' | translate }}" type="button">
				<menu>
					<menuitem icon="history" label="{{ 'label.range_reset' | translate }}" type="button" ng-click="reset()" ng-disabled="!modified"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem label="{{ range }}" type="button" ng-click="setRange(range)" ng-repeat="range in rangeValues"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem icon="calendar" label="{{ 'label.range_custom' | translate }}" type="button" ng-click="setRange('custom')"></menuitem>
				</menu>
			</menuitem>
			<menuitem icon="arrows-v" info="{{ 'label.range_propagate' | translate }}" type="button" ng-click="propagate()"></menuitem>
			<menuitem icon="search-minus" info="{{ 'label.graphs_zoom_out' | translate }}" type="button" ng-click="zoom(false)"></menuitem>
			<menuitem icon="search-plus" info="{{ 'label.graphs_zoom_in' | translate }}" type="button" ng-click="zoom(true)"></menuitem>
			<menuitem type="separator"></menuitem>
			<menuitem class="left" icon="download" info="{{ 'label.graphs_export' | translate }}" type="button">
				<menu>
					<menuitem label="{{ 'label.graphs_export_png' | translate }}" type="button" ng-click="export($event, 'png')" ng-disabled="error"></menuitem>
					<menuitem type="separator"></menuitem>
					<menuitem label="{{ 'label.graphs_export_summary_csv' | translate }}" type="button" ng-click="export($event, 'summary_csv')"></menuitem>
					<menuitem label="{{ 'label.graphs_export_summary_json' | translate }}" type="button" ng-click="export($event, 'summary_json')"></menuitem>
				</menu>
			</menuitem>
			<menuitem href="{{ ::baseURL }}show/{{ embeddablePath }}" target="_blank" icon="window-maximize" info="{{ 'label.graphs_goto_embeddable' | translate }}" info-direction="bottom-left" type="button" ng-if="!frame && embeddablePath"></menuitem>
		</menu>

		<div class="graph-slides">
			<div class="graph-toggle-fold" ng-class="{active: foldActive}" ng-if="!frame">
				<div ng-click="toggleFold(true)" ng-show="!folded"><span class="fa fa-chevron-up"></span> {{ 'label.graphs_fold' | translate }}</div>
			</div>

			<div class="graph-step">
				<div class="graph-step-backward fa fa-arrow-left" ng-click="moveStep(false)" ng-class="{active: stepActive == 'backward'}"></div>
				<div class="graph-step-forward fa fa-arrow-right" ng-click="moveStep(true)" ng-class="{active: stepActive == 'forward'}"></div>
			</div>

			<div class="graph-toggle-legend" ng-show="!error">
				<div ng-click="toggleLegend(true)" ng-show="!legendActive"><span class="fa fa-chevron-down"></span> {{ 'label.graphs_show_legend' | translate }}</div>
				<div ng-click="toggleLegend(false)" ng-show="legendActive"><span class="fa fa-chevron-up"></span> {{ 'label.graphs_hide_legend' | translate }}</div>
			</div>
		</div>
	</div>

	<div class="graph-container" ng-if="!folded">
		<message class="float" icon="warning" type="warning" ng-show="partial">{{ 'mesg.points_partial' | translate }}</message>
		<message icon="clock-o" ng-class="{float: data}" ng-show="loading">{{ 'mesg.points_fetch' | translate }}</message>
		<message icon="info-circle" ng-show="empty">{{ 'mesg.points_empty' | translate }}</a></message>
		<message icon="times-circle" ng-show="error">{{ 'mesg.points_error' | translate }}</a></message>

		<div class="graph-cursor"></div>
		<div class="graph-tooltip"></div>
		<div class="graph-zoom"></div>

		<div class="graph-canvas">
			<canvas></canvas>
		</div>

		<div class="graph-legend" ng-if="legendActive && chart">
			<table>
				<tr ng-class="{disabled: disabledSeries[idx]}" ng-repeat="(idx, series) in data.series">
					<td><div class="label" ng-click="selectSeries(idx, $event.shiftKey)">
						<span class="color" ng-style="{backgroundColor: chart.config.series[idx].color}"></span>
						{{ series.name }}
					</div></td>
					<th class="key" ng-repeat-start="key in legendColumns">{{ key }}</th>
					<td class="value" ng-class="{active: lines['line'+idx+'-'+key]}" ng-click="toggleLine(idx, key)"
							ng-repeat-end="">
						{{ chart.config.axes.y.ticks.format(series.summary[key]) }}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
