<a class="treelabel" href="browse/collections/{{ ::c.id }}" title="{{ ::c.label }}" ng-style="{paddingLeft: 'calc(2rem * ' + depth() + ')'}">
	<span class="toggle fa" ng-class="{'fa-folder': collapsed, 'fa-folder-open': !collapsed}" ng-click="$event.preventDefault(); c.children && c.children.length > 0 ? toggle(this) : ''">
		<span class="fa fa-plus extra" ng-show="collapsed && c.children && c.children.length > 0"></span>
	</span>
	{{ ::c.label }}
</a>
<ul class="tree" ui-tree-nodes="" ng-model="c.children" ng-if="!collapsed">
	<li class="treeitem" ui-tree-node="" ng-repeat="c in c.children" ng-include="'templates/treeitem.html'"></li>
</ul>
