Source: facette
Section: utils
Priority: optional
Maintainer: Development Team <dev@facette.io>
Build-Depends:
 debhelper (>= 9),
 dh-systemd,
 golang-go (>= 2:1.10~),
 librrd-dev (>= 1.4),
 nodejs (>= 8.0.0~),
 pandoc,
 pkg-config,
 quilt,
Standards-Version: 3.9.8
Homepage: https://facette.io/

Package: facette
Architecture: any
Depends: adduser, daemon, ${shlibs:Depends}, ${misc:Depends}
Description: time series data visualization software
 Facette is a web application to visualize time series data from various
 sources such as collectd, Graphite, InfluxDB or KairosDB.
