Source: facette
Section: utils
Priority: optional
Maintainer: Vincent Batoufflet <vincent@batoufflet.info>
Build-Depends: debhelper (>= 8.0.0), quilt, dh-golang,
 git,
 golang-go (>= 1.1),
 golang-golint,
 librrd-dev (>= 1.4),
 mercurial,
 node-less,
 node-uglify,
 pandoc,
Standards-Version: 3.9.3
Homepage: https://github.com/facette/facette

Package: facette
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: graphing web front-end
 Facette is a graphing web front-end for RRD files.
