[Unit]
Description=Facette
Documentation=http://docs.facette.io/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/facette
User=facette
Group=facette

[Install]
WantedBy=multi-user.target
