<menu class="extra">
	<menuitem class="left" href="" icon="caret-down" type="button" drop="true">
		<menu class="icons">
			<menuitem href="{{ ::baseURL }}admin/" icon="cog" label="{{ 'label.admin_panel' | translate }}" type="button" ng-if="!inAdmin"></menuitem>
			<menuitem href="{{ ::baseURL }}" icon="sign-out" label="{{ 'label.admin_panel_exit' | translate }}" type="button" ng-if="inAdmin"></menuitem>
			<menuitem type="separator"></menuitem>
			<menuitem label="{{ 'label.reset_local_prefs' | translate }}" ng-click="resetLocalPrefs()" type="button"></menuitem>
		</menu>
	</menuitem>
</menu>
