{{ define "title" }}Administration Panel: Graphs — Facette{{ end }}

{{ define "script" }}
		<script src="{{ .URLPrefix }}{{ asset "/static/jquery.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/i18next.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/moment.js" }}"></script>
		<script src="{{ .URLPrefix }}{{ asset "/static/facette.js" }}"></script>
{{ end }}

{{ define "content" }}
		<article data-pane="graph-list" data-paneopts="section: {{ .Section }}">
			<header>
				<h1>Administration Panel — Graphs</h1>

				<nav>
					<ul>
						<li><a class="icon icon-add" href="{{ .URLPrefix }}/admin/graphs/add" title="Add Graph"></a></li>
					</ul>
				</nav>

				<div class="filter icon icon-search">
					<input data-listfilter="graphs" placeholder="Search for Graph" type="text">
				</div>
			</header>

			<section class="scrollarea full">
				<div class="list" data-list="graphs" data-listopts="init: true; url: library/graphs; messages: graph">
					<h1>Graphs List <span class="count"></span></h1>

					<div class="listmesg" data-listmesg="graphs"></div>

					<div class="listitem" data-listtmpl="graphs">
						<div class="actions">
							<a class="icon icon-remove" href="#remove-graph" title="Remove Graph"></a>
						</div>
						<div class="date">Last updated on <span></span></div>
						<div>
							<span class="name"></span>
							<span class="actions">
								<a class="icon icon-edit" href="#edit-graph" title="Edit Graph"></a>
								<a class="icon icon-copy" href="#clone-graph" title="Clone Graph"></a>
							</span>
						</div>
						<div class="desc"></div>
					</div>
				</div>

				<button data-listmore="{{ .Section }}" disabled="disabled">Load More</button>
			</section>
		</article>
{{ end }}
