<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article ng-pane="" ng-show="state == stateOK">
	<header>
		<h1 class="expand">{{ 'label.admin_panel' | translate }} – {{ (id == 'add' ? 'label.' + section + '_new' : 'label.' + section + '_edit') | translate }}</h1>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section ng-pane-step="1">
		<h1>{{ 'label.groups_definition' | translate }}</h1>

		<columns>
			<column class="main flexible">
				<h2>{{ 'label.patterns_list' | translate }}</h2>

				<message icon="clock-o" type="placeholder" ng-show="state == stateLoading">{{ 'mesg.wait' | translate }}</message>
				<message icon="info-circle" type="info" ng-show="state == stateOK && (!item.patterns || item.patterns.length === 0)">{{ 'mesg.patterns_empty' | translate }}</message>

				<list ng-show="state == stateOK && item.patterns && item.patterns.length > 0">
					<div as-sortable="listSortControl" ng-model="item.patterns">
						<listrow as-sortable-item="" ng-class="{active: pattern.index === $index, locked: pattern.index !== undefined && pattern.index !== $index}" ng-click="editPattern(p)" ng-repeat="(idx, p) in item.patterns track by unique(idx, p)">
							<listcolumn class="handle">
								<span as-sortable-item-handle="" class="fa fa-ellipsis-v"></span>
							</listcolumn>
							<listcolumn class="main expand">
								<div class="row">
									<div class="name">{{ p }}</div>
									<div class="actions">
										<menu>
											<menuitem icon="info-circle" type="button" info="{{ patternsData[p] || ('mesg.wait' | translate) }}" info-direction="bottom-right" ng-mouseenter="patternsData[p] || testPattern(p)" ng-if="p.indexOf('glob:') === 0 || p.indexOf('regexp:') === 0"></menuitem>
										</menu>
									</div>
								</div>
							</listcolumn>
							<listcolumn class="actions">
								<menu>
									<menuitem icon="times-circle" info="{{ 'label.patterns_remove' | translate }}" type="button" ng-click="$event.stopPropagation(); remove(item.patterns, p)"></menuitem>
								</menu>
							</listcolumn>
						</listrow>
					</div>
				</list>
			</column>

			<column class="side">
				<h2>{{ 'label.patterns_define' | translate }}</h2>

				<div class="formblock">
					<label>{{ 'label.patterns_type' | translate }}</label>
					<ui-select theme="selectize" ng-model="pattern.type">
						<ui-select-match placeholder="{{ 'label.patterns_type_select' | translate }}">
							<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="t in (patternTypes | filter: $select.search)">
							<span ng-bind="t.name"></span>
						</ui-select-choices>
					</ui-select>

					<label>{{ 'label.patterns_value' | translate }}</label>
					<autocomplete id="value" delay="250" allow-override="true" source="patternValues" on-select="selectPattern" ng-if="pattern.type.value == 1"></autocomplete>
					<input type="text" ng-model="pattern.value" ng-if="pattern.type.value != 1">
				</div>

				<div class="formblock">
					<button ng-click="setPattern()" ng-disabled="!pattern.value">{{ (pattern.index === undefined ? 'label.patterns_add' : 'label.patterns_update') | translate }}</button>
					<button class="danger" ng-click="resetPattern()" ng-show="pattern.index !== undefined">{{ 'label.cancel' | translate }}</button>
				</div>
			</column>
		</columns>
	</section>

	<section ng-pane-step="2">
		<h1>{{ 'label.groups_definition' | translate }}</h1>

		<columns>
			<column class="main">
				<h2>{{ 'label.general_info' | translate }}</h2>

				<label>{{ 'label.name' | translate }}
					<span class="info fa fa-question-circle" title="{{ 'mesg.name_pattern' | translate }}" title-direction="right"></span>
					<span class="warn" ng-show="conflict.name"><span class="fa fa-warning"></span> {{ 'mesg.name_unique' | translate }}</span>
					<span class="warn" ng-show="validated && !item.name"><span class="fa fa-warning"></span> {{ 'mesg.name_invalid' | translate }}</span>
				</label>
				<input type="text" pattern="[a-zA-Z0-9](?:[a-zA-Z0-9\-_\.]*[a-zA-Z0-9])?" ng-class="{danger: conflict.name || validated && !item.name}" ng-model="item.name">

				<label>{{ 'label.desc' | translate }}</label>
				<textarea type="text" ng-model="item.description"></textarea>
			</column>
		</columns>
	</section>

	<footer>
		<button class="extra" ng-click="reset()" ng-disabled="!modified" ng-if="id != 'add'"><span class="fa fa-undo"></span> {{ 'label.groups_reset' | translate }}</button>
		<button class="danger" ng-click="cancel()" ng-show="id == 'add' || !altMode">{{ 'label.cancel' | translate }}</button>
		<button class="danger" ng-click="delete()" ng-show="id != 'add' && altMode"><span class="fa fa-trash-o"></span> {{ 'label.' + section + '_delete' | translate }}</button>
		<button ng-click="switch(step - 1)" ng-disabled="step == 1"><span class="fa fa-chevron-circle-left"></span> {{ 'label.prev' | translate }}</button>
		<button ng-click="switch(step + 1)" ng-disabled="!item.patterns || item.patterns.length === 0 || step == 2">{{ 'label.next' | translate }} <span class="fa fa-chevron-circle-right"></span></button>
		<button ng-click="save()" ng-disabled="step != 2">{{ 'label.groups_save' | translate }}</button>
	</footer>
</article>

<article ng-show="state == stateError">
	<header>
		<h1>{{ 'label.admin_panel' | translate }} – {{ 'label.' + section + '_edit' | translate }}</h1>
	</header>

	<section>
		<message icon="times-circle" type="error" ng-if="!notFound">{{ 'mesg.fetch_error' | translate }}</message>
		<message icon="times-circle" type="error" ng-if="notFound">{{ 'mesg.items_not_found' | translate }}</message>
	</section>

	<footer>
		<button ng-click="cancel(true)"><span class="fa fa-arrow-left"></span> {{ 'label.' + section + '_back' | translate }}</button>
	</footer>
</article>
