<h1>{{ 'label.providers_definition' | translate }}</h1>

<columns>
	<column class="main">
		<h2>{{ 'label.connectors_settings' | translate }}</h2>

		<label>{{ 'label.connectors_instance_url' | translate }}</label>
		<input type="text" ng-model="item.settings.url">

		<label>{{ 'label.connectors_timeout' | translate }}</label>
		<input class="small" type="number" placeholder="10" ng-model="item.settings.timeout">

		<label>{{ 'label.connectors_tls' | translate }}</label>
		<div class="checkbox">
			<input id="allow-insecure" type="checkbox" ng-model="item.settings.allow_insecure_tls">
			<label for="allow-insecure" tabindex="0">{{ 'label.connectors_allow_insecure' | translate }}</label>
		</div>
	</column>
</columns>
