<ng-include src="'templates/admin/layout.html'" ng-include-replace="true"></ng-include>

<article>
	<header>
		<h1 class="expand">{{ 'label.admin_panel' | translate }} – {{ 'label.info' | translate }}</h1>

		<ng-include src="'templates/common/extra-menu.html'" ng-include-replace="true"></ng-include>
	</header>

	<section>
		<h1>{{ 'label.version_info' | translate }}</h1>

		<table class="list">
			<tbody>
				<tr class="listrow" ng-if="info.version">
					<th class="listcolumn heading">{{ 'label.version' | translate }}</th>
					<td class="listcolumn main expand">{{ info.version }}</td>
				</tr>
				<tr class="listrow" ng-if="info.branch">
					<th class="listcolumn heading">{{ 'label.branch' | translate }}</th>
					<td class="listcolumn main expand">{{ info.branch }}</td>
				</tr>
				<tr class="listrow" ng-if="info.revision">
					<th class="listcolumn heading">{{ 'label.revision' | translate }}</th>
					<td class="listcolumn main expand">{{ info.revision }}</td>
				</tr>
				<tr class="listrow" ng-if="info.compiler">
					<th class="listcolumn heading">{{ 'label.compiler' | translate }}</th>
					<td class="listcolumn main expand">{{ info.compiler }}</td>
				</tr>
				<tr class="listrow" ng-if="info.build_date">
					<th class="listcolumn heading">{{ 'label.build_date' | translate }}</th>
					<td class="listcolumn main expand">{{ info.build_date }}</td>
				</tr>
				<tr class="listrow">
					<th class="listcolumn heading">{{ 'label.connectors' | translate }}</th>
					<td class="listcolumn main expand pre">{{ connectors.join('\n') }}</td>
				</tr>
				<tr class="listrow">
					<th class="listcolumn heading">{{ 'label.website' | translate }}</th>
					<td class="listcolumn main expand"><a href="https://facette.io/" rel="external" target="_blank">https://facette.io/ <span class="fa fa-external-link-square"></span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</article>
