.columns {
	display: flex;
	margin: 0 -1rem;
}

.columns .column {
	box-sizing: border-box;
	padding: 0 1rem;
}

.columns.split .column {
	flex: 1 1 0;
}

.columns .column.main {
	flex: 1;
	overflow: hidden;
}

.columns .column.main:last-child {
	max-width: 50%;
}

.columns .column.side {
	min-width: 22rem;
}

section > .columns {
	margin: -1rem -2rem 0;
}

section > .columns > .column {
	border-left: 1px solid #ecf0f1;
	padding: 1rem 2rem;
}

section > .columns > .column:first-child {
	border-left: none;
}

.grid2,
.grid3 {
	display: flex;
	flex-wrap: wrap;
}

.grid2 .grid-item,
.grid3 .grid-item {
	box-sizing: border-box;
	padding: 0 0.9rem;
}

.grid2 .grid-item {
	width: 50%;
}

.grid3 .grid-item {
	width: 33.33%;
}

@media screen and (max-width: 876px) {
	aside.expand + article section .columns .column.main:last-child {
		max-width: none;
	}
}
