header {
	height: 3.5rem;
	line-height: 3.5rem;
	z-index: 10;
}

header .menu {
	display: flex;
	list-style-type: none;
}

header .menu a {
	text-decoration: none;
}

header .menuitem.icon {
	width: 3.5rem;
}

header .menuitem.button > .content {
	display: block;
	text-align: center;
}

header .menuitem .fa {
	font-size: 1.35rem;
	vertical-align: middle;
}

header .menuitem > .subcontent {
	background-color: rgba(34, 34, 34, 0.98);
	border-radius: 0.2rem;
	box-sizing: border-box;
	color: #fff;
	cursor: default;
	display: none;
	line-height: 2rem;
	list-style-type: none;
	padding: 0.35rem 0;
	position: absolute;
	z-index: 200;
}

header .menuitem > .subcontent::before {
	border: 0.75rem solid transparent;
	border-bottom-color: rgba(34, 34, 34, 0.98);
	bottom: 100%;
	content: '';
	left: 1rem;
	position: absolute;
}

header .menuitem:hover > .subcontent,
header .menuitem.focus > .subcontent {
	display: block;
}

header .menuitem.left > .subcontent {
	right: 0;
}

header .menuitem.left > .subcontent::before {
	left: auto;
	right: 1rem;
}

header .menuitem > .subcontent > .menu {
	flex-direction: column;
}

header .menuitem > .subcontent .menuitem.button {
	cursor: pointer;
}

header .menuitem > .subcontent .menuitem.button > .content {
	align-items: center;
	display: flex;
	padding: 0 1rem;
	text-align: left;
}

header .menuitem > .subcontent .menuitem.button .label {
	flex: 1;
	white-space: nowrap;
}

header .menuitem > .subcontent .menu.icons > .menuitem.button .label:first-child {
	margin-left: 2rem;
}

header .menuitem > .subcontent .menuitem.separator {
	display: block;
	height: 1px;
	margin: 0.35rem 0.65rem;
}

header .menuitem > .subcontent .menuitem.button:hover,
header .menuitem > .subcontent .menuitem.button a:focus,
header .menuitem > .subcontent .menuitem.separator {
	background-color: rgba(70, 70, 70, 0.98);
}

header.error {
	background-color: #e74c3c;
	color: #fff;
	display: flex;
	left: 22rem;
	padding: 0 2rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateY(-100%);
	transition: left .3s ease-in-out,
	            transform .2s ease-in-out;
	z-index: 210;
}

header.error.full {
	left: 0;
}

header.error.active {
	transform: translateY(0);
}

header.error::after {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	content: '';
	display: block;
	height: 0.25rem;
	left: 0;
	position: absolute;
	transition: width 0s;
	width: 100%;
}

header.error.active::after {
	transition: width 5s ease-in-out;
	width: 0;
}

header.error > .content {
	flex: 1;
}

header.error > .icon > .fa {
	font-size: 1.5rem;
	margin-right: 0.65rem;
	vertical-align: middle;
}

header.error > .action {
	cursor: pointer;
}

header.error > .action > .fa {
	font-size: 1.2rem;
	margin-left: 2rem;
}

@media screen and (max-width: 768px) {
	header.error {
		left: 0;
	}
}

@media screen and (max-width: 1024px) {
	header .menu.main {
		flex-direction: column;
	}

	header > .menu > .menuitem > .content > .label {
		display: none;
	}

	header > .menu.main > .menuitem > .subcontent {
		left: 100%;
		top: 0;
	}

	header > .menu.main > .menuitem > .subcontent::before {
		border-bottom-color: transparent;
		border-right-color: rgba(34, 34, 34, 0.98);
		bottom: auto;
		left: -1.45rem;
		top: 1rem;
	}
}
