header {
	height: 3.5rem;
	line-height: 3.5rem;
	z-index: 10;
}

header .menuitem.icon {
	width: 3.5rem;
}

header .menuitem .fa {
	font-size: 1.35rem;
}

@media screen and (max-width: 1024px) {
	header .menu.main {
		flex-direction: column;
	}

	header > .menu > .menuitem > .content > .label {
		display: none;
	}

	header > .menu.main > .menuitem > .subcontent {
		left: 100%;
		top: 0;
	}

	header > .menu.main > .menuitem > .subcontent::before {
		border-bottom-color: transparent;
		border-right-color: #fff;
		bottom: auto;
		left: -1.25rem;
		top: 1rem;
	}
}
