header {
	height: 3.5rem;
	line-height: 3.5rem;
	z-index: 10;
}

header .menu {
	display: flex;
}

header .menu a {
	text-decoration: none;
}

header .menuitem.icon {
	width: 3.5rem;
}

header .menuitem.button > .content {
	display: block;
	text-align: center;
}

header .menuitem .fa {
	font-size: 1.35rem;
	vertical-align: middle;
}

header .menuitem > .subcontent {
	background-color: #fff;
	border-radius: 0.2rem;
	box-shadow: 0 0.15rem 0.5rem rgba(34, 34, 34, 0.2);
	box-sizing: border-box;
	color: #2c3e50;
	cursor: default;
	display: none;
	line-height: 2rem;
	padding: 0.35rem 0;
	position: absolute;
	z-index: 200;
}

header .menuitem > .subcontent::before {
	border: 0.65rem solid transparent;
	border-bottom-color: #fff;
	bottom: 100%;
	content: '';
	left: 1.1rem;
	position: absolute;
}

header .menuitem:hover > .subcontent,
header .menuitem.focus > .subcontent {
	display: block;
}

header .menuitem.left > .subcontent {
	right: 0;
}

header .menuitem.left > .subcontent::before {
	left: auto;
	right: 1.1rem;
}

header .menuitem > .subcontent > .menu {
	flex-direction: column;
}

header .menuitem > .subcontent .menuitem .fa {
	font-size: 1.1rem;
}

header .menuitem > .subcontent .menuitem.button {
	cursor: pointer;
}

header .menuitem > .subcontent .menuitem.button > .content {
	align-items: center;
	display: flex;
	padding: 0 1rem;
	text-align: left;
}

header .menuitem > .subcontent .menuitem.button .label {
	flex: 1;
	white-space: nowrap;
}

header .menuitem > .subcontent .menu.icons > .menuitem.button .label:first-child {
	margin-left: 2rem;
}

header .menuitem > .subcontent .menuitem.separator {
	background-color: rgba(34, 34, 34, 0.1);
	display: block;
	height: 1px;
	margin: 0.35rem 0;
}

header .menuitem > .subcontent .menuitem.button:hover,
header .menuitem > .subcontent .menuitem.button a:focus {
	background-color: #2980b9;
	color: #fff;
}

@media screen and (max-width: 1024px) {
	header .menu.main {
		flex-direction: column;
	}

	header > .menu > .menuitem > .content > .label {
		display: none;
	}

	header > .menu.main > .menuitem > .subcontent {
		left: 100%;
		top: 0;
	}

	header > .menu.main > .menuitem > .subcontent::before {
		border-bottom-color: transparent;
		border-right-color: rgba(34, 34, 34, 0.98);
		bottom: auto;
		left: -1.45rem;
		top: 1rem;
	}
}
