.menuitem {
	position: relative;
}

.tooltip {
	background-color: rgba(34, 34, 34, 0.98);
	border-radius: 0.2rem;
	box-sizing: border-box;
	color: #fff;
	display: none;
	font-size: 0.9rem;
	list-style-type: none;
	padding: 0.5rem 1rem;
	position: absolute;
	text-align: left;
	z-index: 150;
}

.tooltip::before {
	border: 0.5rem solid transparent;
	content: '';
	position: absolute;
}

.tooltip.active {
	display: block;
}

.tooltip.top {
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-0.25rem);
}

.tooltip.top::before {
	border-top-color: rgba(34, 34, 34, 0.98);
	top: 100%;
	left: 50%;
	margin-left: -0.5rem;
}

.tooltip.right {
	left: 100%;
	top: 50%;
	transform: translateX(0.25rem) translateY(-50%);
}

.tooltip.right::before {
	border-right-color: rgba(34, 34, 34, 0.98);
	margin-top: -0.5rem;
	right: 100%;
	top: 50%;
}

.tooltip.bottom {
	left: 50%;
	top: 100%;
	transform: translateX(-50%) translateY(0.25rem);
}

.tooltip.bottom::before {
	border-bottom-color: rgba(34, 34, 34, 0.98);
	bottom: 100%;
	left: 50%;
	margin-left: -0.5rem;
}

.tooltip.left {
	right: 100%;
	top: 50%;
	transform: translateX(-0.25rem) translateY(-50%);
}

.tooltip.left::before {
	border-left-color: rgba(34, 34, 34, 0.98);
	margin-top: -0.5rem;
	left: 100%;
	top: 50%;
}

.tooltip span {
	color: #777;
	margin-right: 0.5rem;
}
