.pagination {
	list-style-type: none;
	margin: 2rem 0;
	text-align: center;
	user-select: none;
}

.pagination li {
	display: inline-block;
	line-height: 2rem;
	width: 2rem;
}

.pagination a {
	border-radius: 0.2rem;
	display: block;
	text-decoration: none;
}

.pagination .active a {
	background-color: #ecf0f1;
}

.pagination .disabled a {
	opacity: 0.35;
	pointer-events: none;
}

.pagination a:focus {
	background-color: #5fa0cb;
	color: #fff;
}
