.tabset {
	background-color: #e6eaeb;
	line-height: 2.5rem;
	padding: 0.5rem 0.5rem 0;
}

.tabset .tab {
	border-radius: 0.2rem 0.2rem 0 0;
	color: #7f8c8d;
	cursor: pointer;
	display: inline-block;
	user-select: none;
}

.tabset .tab[disabled] {
	opacity: 0.35;
	pointer-events: none;
}

.tabset .tab.active {
	background-color: #fff;
	color: #2c3e50;
}

.tabset .tab a,
.tabset .tab span {
	padding: 0 1.5rem;
	display: block;
	text-decoration: none;
}

.tabset .tab a:focus {
	background-color: #d9ddde;
}

section.hastab {
	padding-top: 3rem;
}

section .tabset {
	margin: -5rem -2rem 2rem;
}

.ngdialog-content .tabset {
	margin: -2rem -2rem 1rem;
}
