{{ define "template_element" }}
		<div class="overlay" id="overlay">
			<div class="box" data-overlay="confirm">
				<p class="message">(no message)</p>
				<p class="buttons">
					<button name="cancel">Cancel</button>
					<button name="validate">Validate</button>
				</p>
			</div>

			<div class="box" data-overlay="alert">
				<p class="message">(no message)</p>
				<p class="buttons">
					<button name="validate">OK</button>
				</p>
			</div>

			<div class="box" data-overlay="prompt">
				<p>
					<label class="message" for="value">Value:</label>
					<input id="value" name="value" type="text">
				</p>
				<p class="buttons">
					<button name="cancel">Cancel</button>
					<button name="reset">Reset</button>
					<button name="validate">OK</button>
				</p>
			</div>

			<div class="box" data-overlay="time">
				<p>
					<label for="time">Reference time:</label>
					<input id="time" name="time" type="text">
					<label for="range">Time range:</label>
					<input id="range" name="range" placeholder="e.g. -1h, 3d, 1y" type="text">
				</p>
				<p class="buttons">
					<button name="cancel">Cancel</button>
					<button name="validate">Set time</button>
				</p>
			</div>

			<div class="box" data-overlay="select">
				<p>
					<label for="select">Value:</label>
					<select data-select="select" id="select" name="select">
						<option class="protected" value="">Custom</option>
					</select>
					<input name="value" type="text">
				</p>
				<p class="buttons">
					<button name="cancel">Cancel</button>
					<button name="reset">Reset</button>
					<button name="validate">OK</button>
				</p>
			</div>

			<div class="loader" data-overlay="loader">
				<p class="message">Loading...</p>
			</div>
		</div>

		<div class="menu" data-menu="template" tabindex="-1">
			<div class="menucntr" data-menucntr="">
				<div class="menumesg" data-menumesg=""></div>
				<div class="menuitem" data-menuitem="template"></div>
			</div>
		</div>

		<div class="tooltip" data-tooltip="template">
		</div>

		<div class="input" data-input="template"></div>

		<div class="select" data-select="template">
			<div class="selectlabel" data-selectlabel=""></div>
		</div>
{{ end }}
