{{ define "template_graph" }}
				<div class="graphitem graphtmpl">
					<div class="placeholder"></div>

					<div class="graphcntr">
					</div>

					<div class="graphctrl">
						<div class="step">
							<a class="icon icon-arrow-left" href="#step-backward"></a>
							<a class="icon icon-arrow-right" href="#step-forward"></a>
						</div>

						<div class="legend">
							<a class="icon icon-unfold" href="#toggle-legend" title="Toggle Legend"></a>
						</div>

						<div class="actions">
							<div class="actgroup edit">
								<a class="icon icon-edit" href="#edit" title="Edit Graph"></a>
							</div>
							<div class="actgroup ranges">
								<a class="icon icon-calendar" href="#set-time" title="Modify time"></a>
								<a href="#range-1y">1y</a>
								<a href="#range-1mo">1mo</a>
								<a href="#range-7d">7d</a>
								<a href="#range-1d">1d</a>
								<a href="#range-3h">3h</a>
								<a href="#range-1h">1h</a>
							</div>
							<div class="actgroup">
								<a class="icon icon-time" href="#set-range" title="Modify Time Range"></a>
								<a class="icon icon-reset" href="#reset" title="Reset Time Range"></a>
								<a class="icon icon-refresh" href="#refresh" title="Refresh Graph"></a>
								<a class="icon icon-reframe" href="#reframe-all" title="Propagate Time Range"></a>
								<a class="icon icon-zoom-out" href="#zoom-out" title="Zoom Out"></a>
								<a class="icon icon-zoom-in" href="#zoom-in" title="Zoom In"></a>
							</div>
							<div class="actgroup">
								<a class="icon icon-link" href="#embed" title="Embeddable Graph"></a>
								<a class="icon icon-download" href="#export" title="Export Graph"></a>
							</div>
						</div>
					</div>
				</div>
{{ end }}
